@{ string Spartan = "";}

<!DOCTYPE html>
<html class="html" lang="en-US">
<head>

	<meta charset="UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Spartan Boosting &#8211;Boosting and Coaching Service for League of Legends</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css"></style>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<div data-elementor-type="wp-page" data-elementor-id="237" class="elementor elementor-237" data-elementor-settings="[]">
	<div class="elementor-inner">
		<div class="elementor-section-wrap">
			<section class="elementor-element elementor-element-ac90c1e elementor-section-height-min-height animated-fast elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-items-middle  elementor-section elementor-top-section" data-id="ac90c1e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;bounceInDown&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-59b0a2e elementor-column elementor-col-100 elementor-top-column" data-id="59b0a2e" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-04570fe  elementor-widget elementor-widget-heading" data-id="04570fe" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">PREMIER BOOSTING AND COACHING SERVICE FOR</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-3b07600  elementor-widget elementor-widget-heading" data-id="3b07600" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:500}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">LEAGUE OF LEGENDS</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-716d453 elementor-align-center  elementor-widget elementor-widget-button" data-id="716d453" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:1000}" data-widget_type="button.default">
										<div class="elementor-widget-container">
											<div class="elementor-button-wrapper">
												<a href="#About-Us" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-pulse-grow" role="button">
													<span class="elementor-button-content-wrapper">
														<span class="elementor-button-icon elementor-align-icon-left">
															<i aria-hidden="true" class="fas fa-angle-down"></i>
														</span>
														<span class="elementor-button-text">Learn More</span>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-289d2fc elementor-section-full_width elementor-section-height-default elementor-section-height-default  elementor-section elementor-top-section" data-id="289d2fc" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-56192c7 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="56192c7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-8d5c58f elementor-widget elementor-widget-image" data-id="8d5c58f" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/iron-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-054e1bc animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="054e1bc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:500}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-7fe6bfa elementor-widget elementor-widget-image" data-id="7fe6bfa" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/bronze-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-36eac88 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="36eac88" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:1000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-ae567ad elementor-widget elementor-widget-image" data-id="ae567ad" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/silver-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-d237041 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="d237041" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:1500}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-a684585 elementor-widget elementor-widget-image" data-id="a684585" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/gold-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-a1857f1 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="a1857f1" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:2000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-9f0d0d2 elementor-widget elementor-widget-image" data-id="9f0d0d2" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/platinum-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-7d055e0 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="7d055e0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:2500}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-9394ff5 elementor-widget elementor-widget-image" data-id="9394ff5" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/diamond-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-d659629 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="d659629" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:3000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-834dec7 elementor-widget elementor-widget-image" data-id="834dec7" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/master-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6e2e212 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="6e2e212" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:3500}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-d403bc7 elementor-widget elementor-widget-image" data-id="d403bc7" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/grand-master-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-fb56566 animated-fast  elementor-column elementor-col-11 elementor-top-column" data-id="fb56566" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomInLeft&quot;,&quot;animation_delay&quot;:4000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-4131fc4 elementor-widget elementor-widget-image" data-id="4131fc4" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<div class="elementor-image">
												<img width="150" height="150" src="~/img/challenger-rank-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-dcb0972 elementor-section-full_width elementor-section-height-default elementor-section-height-default  elementor-section elementor-top-section" data-id="dcb0972" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;,&quot;animation_delay&quot;:8000}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-bdc5c60 elementor-column elementor-col-100 elementor-top-column" data-id="bdc5c60" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-7b0cd83 elementor-widget elementor-widget-text-editor" data-id="7b0cd83" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<div class="elementor-text-editor elementor-clearfix">
												<p>Boosting Up To Challenger &#8211;don &#8217;t trust faceless discord servers whose prices are often too good to be true!</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-6b85c50 elementor-section-full_width elementor-section-height-min-height animated-fast elementor-section-height-default elementor-section-items-middle  elementor-section elementor-top-section" data-id="6b85c50" data-element_type="section" id="About-Us" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-c51dd01  elementor-column elementor-col-25 elementor-top-column" data-id="c51dd01" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-9a5735f eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box" data-id="9a5735f" data-element_type="widget" data-widget_type="eael-flip-box.default">
										<div class="elementor-widget-container">
											<div class="eael-elements-flip-box-container eael-animate-flip eael-animate-right">
												<div class="eael-elements-flip-box-flip-card">
													<div class="eael-elements-flip-box-front-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class="fas fa-certificate"></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading">PRIVATE BOOSTING PRICES WITH WEBSITE SECURITY</h2>
																	<div class="eael-elements-flip-box-content">
																		<p></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="eael-elements-flip-box-rear-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class=""></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading"></h2>
																	<div class="eael-elements-flip-box-content">
																		<p>
																		<p>We offer a price beat guarantee. Provide us with a quote from a competitor website that's cheaper than ours and we'll match it.</p>
																		<p>Dont risk your money with faceless discord servers who more often than not take your money and are never seen again.</p>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-336e936  elementor-column elementor-col-25 elementor-top-column" data-id="336e936" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;,&quot;animation_delay&quot;:1000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-6070a8a eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box" data-id="6070a8a" data-element_type="widget" data-widget_type="eael-flip-box.default">
										<div class="elementor-widget-container">
											<div class="eael-elements-flip-box-container eael-animate-flip eael-animate-right">
												<div class="eael-elements-flip-box-flip-card">
													<div class="eael-elements-flip-box-front-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class="fas fa-user-secret"></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading">Account Security</h2>
																	<div class="eael-elements-flip-box-content">
																		<p></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="eael-elements-flip-box-rear-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class=""></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading"></h2>
																	<div class="eael-elements-flip-box-content">
																		<p>
																		<p>All our boosters are instructed to use a VPN and will use 'offline mode' whilst playing to ensure the highest security for your account.</p>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-a6e6159  elementor-column elementor-col-25 elementor-top-column" data-id="a6e6159" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;,&quot;animation_delay&quot;:2000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-e1392ca eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box" data-id="e1392ca" data-element_type="widget" data-widget_type="eael-flip-box.default">
										<div class="elementor-widget-container">
											<div class="eael-elements-flip-box-container eael-animate-flip eael-animate-right">
												<div class="eael-elements-flip-box-flip-card">
													<div class="eael-elements-flip-box-front-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class="fas fa-shipping-fast"></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading">Fast Delivery and Fulfillment Time</h2>
																	<div class="eael-elements-flip-box-content">
																		<p></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="eael-elements-flip-box-rear-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class=""></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading"></h2>
																	<div class="eael-elements-flip-box-content">
																		<p>
																		<p>On average, an account can be promoted by a division per day (below Diamond) if a booster is playing solo. If the account you provide us with has a good MMR (+20, go you!), we often can push it up to 2 divisions within a 24 hour period after the service is purchased. Duo boosting can be slightly more difficult as the matchmaking system provides greater challenge when duo’ing and is dependent on your availability. We still aim for 1 division per day, however.</p>
																		<p>We have a team of tried, tested and experienced boosters who can handle everything that’s thrown at them (apart from inting team-mates, no-one likes those).</p>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-ed3caef  elementor-column elementor-col-25 elementor-top-column" data-id="ed3caef" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;,&quot;animation_delay&quot;:3000}">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-79e1709 eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box" data-id="79e1709" data-element_type="widget" data-widget_type="eael-flip-box.default">
										<div class="elementor-widget-container">
											<div class="eael-elements-flip-box-container eael-animate-flip eael-animate-right">
												<div class="eael-elements-flip-box-flip-card">
													<div class="eael-elements-flip-box-front-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class="fas fa-comments"></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading">Responsive and Communicative</h2>
																	<div class="eael-elements-flip-box-content">
																		<p></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="eael-elements-flip-box-rear-container">
														<div class="eael-elements-slider-display-table">
															<div class="eael-elements-flip-box-vertical-align">
																<div class="eael-elements-flip-box-padding">
																	<div class="eael-elements-flip-box-icon-image">
																		<i class=""></i>
																	</div>
																	<h2 class="eael-elements-flip-box-heading"></h2>
																	<div class="eael-elements-flip-box-content">
																		<p>
																		<p>We pride ourselves on being available and on call to answer any questions you may have through our discord server.  We aim to assign a booster to your job within 2-3 hours (most jobs are assigned within an hour!). This is, however, dependent on timezone (people have to sleep you know…) We will work with you should you have any unique requirements/issues.</p>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-2b56bc2 elementor-section-height-min-height elementor-section-items-top elementor-section-full_width elementor-section-height-default  elementor-section elementor-top-section" data-id="2b56bc2" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-1d49478 elementor-column elementor-col-100 elementor-top-column" data-id="1d49478" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-330d695 elementor-widget elementor-widget-heading" data-id="330d695" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Our Boosters</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-7dc0321 elementor-widget elementor-widget-divider" data-id="7dc0321" data-element_type="widget" data-widget_type="divider.default">
										<div class="elementor-widget-container">
											<div class="elementor-divider">
												<span class="elementor-divider-separator"></span>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-4fda03f elementor-widget elementor-widget-text-editor" data-id="4fda03f" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<div class="elementor-text-editor elementor-clearfix">
												@(await Html.PartialAsync("~/Views/Partials/BoosterCarouselPartial.cshtml"))
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-6e94cd1 elementor-section-height-min-height elementor-section-items-top elementor-section-full_width elementor-section-height-default  elementor-section elementor-top-section" data-id="6e94cd1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-817970c elementor-column elementor-col-100 elementor-top-column" data-id="817970c" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-547e6f8 elementor-widget elementor-widget-heading" data-id="547e6f8" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Don't Take Our Word For It, Read Our Customer Reviews!</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-b84954a elementor-widget elementor-widget-divider" data-id="b84954a" data-element_type="widget" data-widget_type="divider.default">
										<div class="elementor-widget-container">
											<div class="elementor-divider">
												<span class="elementor-divider-separator"></span>
											</div>
										</div>
									</div>
									@(await Html.PartialAsync("~/Views/Partials/DiscordReviewPartial.cshtml"))
								</div>

							</div></p>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-0b30647 elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="0b30647" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-bfe54dd elementor-column elementor-col-16 elementor-top-column" data-id="bfe54dd" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-cba0a0e elementor-widget elementor-widget-counter" data-id="cba0a0e" data-element_type="widget" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="3000" data-to-value="89" data-from-value="1" data-delimiter=",">1</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Completed Boosts</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-39c35f1 elementor-column elementor-col-16 elementor-top-column" data-id="39c35f1" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-5e9a398 elementor-widget elementor-widget-counter" data-id="5e9a398" data-element_type="widget" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="3000" data-to-value="348" data-from-value="1" data-delimiter=",">1</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Divisions boosted</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-8b9a0a1 elementor-column elementor-col-16 elementor-top-column" data-id="8b9a0a1" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-e21ff29  elementor-widget elementor-widget-counter" data-id="e21ff29" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="3000" data-to-value="59" data-from-value="1" data-delimiter=",">1</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Boosters</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6eba39b elementor-column elementor-col-16 elementor-top-column" data-id="6eba39b" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-61d5cfc elementor-widget elementor-widget-counter" data-id="61d5cfc" data-element_type="widget" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="2000" data-to-value="9999" data-from-value="1" data-delimiter=",">1</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Friend Requests After Solo Carrying</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-dfdbdec elementor-column elementor-col-16 elementor-top-column" data-id="dfdbdec" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-7d54704 elementor-widget elementor-widget-counter" data-id="7d54704" data-element_type="widget" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="2000" data-to-value="21" data-from-value="1" data-delimiter=",">1</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Coaches</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-913ccde elementor-column elementor-col-16 elementor-top-column" data-id="913ccde" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-bfb663e elementor-widget elementor-widget-counter" data-id="bfb663e" data-element_type="widget" data-widget_type="counter.default">
										<div class="elementor-widget-container">
											<div class="elementor-counter">
												<div class="elementor-counter-number-wrapper">
													<span class="elementor-counter-number-prefix"></span>
													<span class="elementor-counter-number" data-duration="500" data-to-value="0" data-from-value="0" data-delimiter=",">0</span>
													<span class="elementor-counter-number-suffix"></span>
												</div>
												<div class="elementor-counter-title">Bans</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</html>
