@{
	Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity" style="height: 84.5vh;">
	<div class="bg-image op-6">
		<img src="~/Client/assets/images/LeagueOfLegends/main-backgrounmd.jpg" />
	</div>
	<div class="w-100 ">
		<div class="w-100 row pt-5-rem pb-5-rem ">
			<div class="col-lg-12">
				<div class="row no-gutters">
					<div class="col-lg-4 col-sm-12"></div>
					<h2 class="col-lg-4 col-sm-12 pr-5 nk-title h1">Choose Your Game</h2>
					<div class="col-lg-4 col-sm-12"></div>
				</div>
			</div>
		</div>
		<div class="row w-100">
			<div class="col-lg-12">
				<div class="row no-gutters">
					<div class="col-lg-4 col-sm-12"></div>
					<a class="col-lg-4 col-sm-12 pr-5" href="../LolBoosting/SoloBoosting" style="color: #ffffff;cursor: pointer;text-decoration: none;">
						<div class="nk-box-3 league-link">
						</div>
					</a>
					<div class="col-lg-4 col-sm-12"></div>
				</div>
			</div>
		</div>
		<div class="nk-gap-4"></div>
		<div class="nk-gap-4"></div>
	</div>

</div>

<div class="nk-box bg-dark-1">
	<div class="container text-center">
		<div class="nk-gap-6"></div>
		<div class="nk-gap-2"></div>
		<h2 class="nk-title h1">Advantages of the service</h2>
		<div class="nk-gap-3"></div>
		<p class="lead">
			As an organisation we provide boosting services in the following titles; League of Legends, Teamfight Tactics and World of Warcraft. We are a global organisation offering our services worldwide. We also offer coaching and account sales.
		</p>
		<div class="nk-gap-2"></div>
		<div class="row no-gutters">
			<div class="col-md-4">
				<div class="nk-box-2 nk-box-line">
					<!-- START: Counter -->
					<div class="nk-counter-3">
						<div class="nk-count">60+</div>
						<h3 class="nk-counter-title h4">Professional Boosters</h3>
						<label class="nk-counter-title">Our team includes only the top 1% of LoL players. We screen and hand-select our employees for a variety of things including professionalism, attitude and most importantly, results!</label>
						<div class="nk-gap-1"></div>
					</div>
					<!-- END: Counter -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="nk-box-2 nk-box-line">
					<!-- START: Counter -->
					<div class="nk-counter-3 row d-flex justify-content-center">
						<div class="row col-md-12 d-flex justify-content-center">
							<div class="nk-count">24</div> <span class="pr-2 pl-2 nk-count-style">/</span> <div class="nk-count">7</div>
						</div><div class="row col-md-12 d-flex justify-content-center">
							<h3 class="nk-counter-title h4">Availability</h3>
						</div>

						<div class="nk-gap-1"></div>
					</div>
					<!-- END: Counter -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="nk-box-2 nk-box-line nk-box-last">
					<!-- START: Counter -->
					<div class="nk-counter-3">
						<div class="nk-count">
							50
						</div>
						<div>
							<h3 class="nk-counter-title h4">Boosters Ready to Start</h3>
							<div class="nk-gap-1"></div>
						</div>
						<!-- END: Counter -->
					</div>
				</div>
			</div>
			<div class="nk-gap-6"></div>
			<div class="nk-gap-6"></div>
		</div>
	</div>
</div>
<div style="background-color: rgb(249,249,249);">
	<div class="container font-colour-dark">
			<div class="row">
				<div class="col-md-6">
					<div class="nk-gap-6"></div>
					<div class="nk-gap-2"></div>
					<h2 class="nk-title h1">24/7 Delivery - Fast Boosting</h2>
					<div class="nk-gap-3"></div>
					<p class="lead">
						Our experienced League of Legends boosters represent the top 1% of players in their specific region and so can more often than not boost 1 division a day below Diamond IV.

						60+ boosters are ready to start
					</p>
					<div class="nk-gap-2"></div>
				</div>
				<div class="col-md-6 d-flex align-items-center justify-content-center">
					<i class="fas fa-tachometer-alt fa-10x"></i>
				</div>
			</div>
		
	</div>
</div>
<div class="nk-box bg-dark-1">
	<div class="nk-gap-6"></div>
	<div class="nk-gap-2"></div>
	<div class="row vertical-gap lg-gap">
		<div class="col-md-4">
			<div class="nk-ibox">
				<div class="nk-ibox-icon nk-ibox-icon-circle">
					<i class="fas fa-shopping-basket"></i>
				</div>
				<div class="nk-ibox-cont pl-2">
					<h2 class="nk-ibox-title">
						Customize Your Order To Suit You
					</h2> Various options exist to modify and personalise your order depending on your playstyle, role and in-game preferences. You can order solo or duo boosts and specify champion(s) and roles
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="nk-ibox">
				<div class="nk-ibox-icon nk-ibox-icon-circle">
					<span class="ion-ios-game-controller-b"></span>
				</div>
				<div class="nk-ibox-cont">
					<h2 class="nk-ibox-title">Fast Order Completion</h2>
					We work hard to ensure our customers are happy. Our boosters endeavour to keep in touch with our customers to ensure an efficient boosting service
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="nk-ibox">
				<div class="nk-ibox-icon nk-ibox-icon-circle">
					<i class="fas fa-shield-alt"></i>
				</div>
				<div class="nk-ibox-cont ">
					<h2 class="nk-ibox-title">VPN Protection</h2> We offer the use of VPN protection on every order we take. The VPN management system hides the IP of the booster, making the service undetectable.
				</div>
			</div>
		</div>
	</div>
	<div class="nk-gap-2"></div>
	<div class="nk-gap-6"></div>
</div>
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity" style="    margin-top: 8rem;">
	<img class="nk-footer-top-corner" src="Client/assets/images/footer-corner.png" alt="">
	<div class="container">
		<h1>
			Select Your Game - Choose your game and enjoy premium quality boosting at extremely competitive pricing
		</h1>
		<div class="pb-20">
			Spartan Boosting isn’t endorsed or in any way affiliated with any gaming publisher and doesn’t reflect the views or opinions
			of anyone officially involved in producing or managing any of the games we actively boost. All trademarks and
			logos belong to their respective owners. All submitted art content remains copyright of its original copyright holder.
		</div>
	</div>
</footer>
<!-- END: Footer -->
