@using SpartanBoosting.Models
@using System.Threading.Tasks
@model BoostingModel
@{
	ViewData["Title"] = "Duo Boosting";
}
<div class="container">

	<div class="row vertical-gap">
		<div class="col-lg-12">
			<form asp-action="CreateDuo" role="form" asp-controller="LolBoosting" asp-antiforgery="true"
				  data-ajax-success="Bindgrid"
				  data-ajax="true"
				  data-ajax-method="POST" data-pricing="DuoPricing">
				<div class="gfield-pricing-quote-personal-information"></div>
				<div class="gfield-pricing-quote">
					<div class="nk-gap-4"></div>
					<div class="row">
						<div class="col-md-3">
							<div class="pb-4">
								<div class="">
									<label class="pb-3" for="current-rank">YOUR CURRENT LEAGUE:<span class="gfield_required">*</span></label>
									<select name="YourCurrentLeague" asp-for="YourCurrentLeague" id="current-rank" class="form-control gfield-quote" aria-required="true" aria-invalid="false" required="">
										<option value="Iron">Iron</option>
										<option value="Bronze">Bronze</option>
										<option value="Silver">Silver</option>
										<option value="Gold">Gold</option>
										<option value="Platinum">Platinum</option>
										<option value="Diamond">Diamond</option>
									</select>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="CurrentDivision" asp-for="CurrentDivision" id="current-div" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="IV">Division IV</option>
										<option value="III">Division III</option>
										<option value="II">Division II</option>
										<option value="I">Division I</option>
									</select>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="CurrentLP" id="input_10_279" asp-for="CurrentLP" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="LP 0-20">LP 0-20</option>
										<option value="LP 21-40">LP 21-40</option>
										<option value="LP 41-60">LP 41-60</option>
										<option value="LP 61-80">LP 61-80</option>
										<option value="LP 81-100">LP 81-100</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-3"><img id="current-rank-logo" style="height: 12rem;" src='~/img/Lol Ranks/IronIV.png' /></div>
						<div class="col-md-3">
							<div class="pb-4">
								<div class="">
									<label class="pb-3" for="desired-rank">YOUR DESIRED LEAGUE:<span class="gfield_required">*</span></label>
									<select name="DesiredCurrentLeague" asp-for="DesiredCurrentLeague" id="desired-rank" class="form-control gfield-quote" aria-required="true" aria-invalid="false" required="">
										<option value="Iron">Iron</option>
										<option value="Bronze">Bronze</option>
										<option value="Silver">Silver</option>
										<option value="Gold">Gold</option>
										<option value="Platinum">Platinum</option>
										<option value="Diamond">Diamond</option>
										<option value="Master">Master</option>
									</select>
									<label id="master-rank-notification" style="display:none" for="desired-rank" class="gfield note gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below gfield_visibility_visible font-weight-normal">For divisions higher than Master please contact us!</label>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="DesiredCurrentDivision" asp-for="DesiredCurrentDivision" id="desired-div" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="IV">Division IV</option>
										<option value="III">Division III</option>
										<option value="II">Division II</option>
										<option value="I">Division I</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-3"><img id="desired-rank-logo" style="height: 12rem;" src='~/img/Lol Ranks/IronIV.png' /></div>
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<div class="col-md-6 pr-3">
							<div class=" ">
								<label class="pb-3 " for="your-server">YOUR SERVER:<span class="gfield_required">*</span></label>
								<select name="Server" asp-for="Server" id="your-server" class="form-control  gfield-quote" aria-required="true" aria-invalid="false" required="">
									<option value="Europe West">Europe West</option>
									<option value="Europe Nordic &amp; East">Europe Nordic &amp; East</option>
									<option value="North America">North America</option>
									<option value="Oceania">Oceania</option>
									<option value="Russia">Russia</option>
									<option value="Turkey">Turkey</option>
									<option value="Latin America North">Latin America North</option>
									<option value="Latin America South">Latin America South</option>
									<option value="Brazil">Brazil</option>
									<option value="Japan">Japan</option>
									<option value="Korea">Korea</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class=" ">
								<label class="pb-3 gfield_label" for="queue-type">
									TYPE OF QUEUE:<span class="gfield_required">*</span>
								</label>
								<select name="TypeOfQueue" asp-for="TypeOfQueue" id="queue-type" class="form-control  gfield-quote" aria-required="true" aria-invalid="false" required="">
									<option value="Solo/Duo (5v5)">Solo/Duo (5v5)</option>
									<option value="Flex Summoners Rift (5v5)">Flex Summoners Rift (5v5)</option>
								</select>
							</div>
						</div>
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<label class="col-12 gfield_label">Type of Duo:<span class="gfield_required">*</span></label>
						<div class="ginput_container row pt-4 pb-4 one-checkbox-minimum">
							<div class="col-1"></div>
							<div class="col-4 regular-duo" data-toggle="tooltip" data-placement="top" title="Our standard boosting package, regular order pick-up time with limited coaching provided by your booster">
								<input class="single-select-checkbox gfield-quote" asp-for="TypeOfDuoRegular" name="TypeOfDuoRegular" type="checkbox" value="Regular" id="choice_10_93_2" required="">
								<label for="choice_10_93_2" id="label_12_287_0" class="duo-status">
									<span data-bg="url(../img/Wordpress Icons/duo-regular.png)" class="image-choices-choice-image-wrap rocket-lazyload" style="background-image: url('../img/Wordpress Icons/duo-regular.png');" data-was-processed="true">
										<img alt="" class="image-choices-choice-image" data-lightbox-src="../img/Wordpress Icons/duo-regular.png" src="../img/Wordpress Icons/duo-regular.png"><noscript><img src="../img/Wordpress Icons/duo-regular.png" alt="" class="image-choices-choice-image" data-lightbox-src="../img/Wordpress Icons/duo-regular.png" /></noscript>
									</span><label class="w-100 d-flex justify-content-center">Regular</label>
								</label>
							</div>
							<div class="col-1"></div>
							<div class="col-4" data-toggle="tooltip" data-placement="top" title="Priority boosting with a quicker allocation time of your order to a booster. Your booster will provide commentary in-game whilst playing with you on aspects such as the macro game and offer ad-hoc tips about your gameplay.">
								<input class="single-select-checkbox gfield-quote" asp-for="TypeOfDuoPremium" name="TypeOfDuoPremium" type="checkbox" value="Premium" id="choice_10_93_1" required="">
								<label for="choice_10_93_1" id="label_12_287_1" class="duo-status">
									<span data-bg="url(../img/Wordpress Icons/duo-premium.png)" class="image-choices-choice-image-wrap rocket-lazyload" style="background-image: url('../img/Wordpress Icons/duo-premium.png');" data-was-processed="true"><img alt="" class="image-choices-choice-image" data-lightbox-src="../img/Wordpress Icons/duo-premium.png" src="../img/Wordpress Icons/duo-premium.png"><noscript><img src="../img/Wordpress Icons/duo-premium.png" alt="" class="image-choices-choice-image" data-lightbox-src="../img/Wordpress Icons/duo-premium.png" /></noscript></span>
									<label class="w-100 d-flex justify-content-center">Premium</label>
								</label>
							</div>
						</div>
					</div>
					<div class="nk-gap-2"></div>
					<div class=" container boost-info mb-5">
						<div class="">
							<div class="row ">
								<input type="text" class=" col-7 form-control" asp-for="DiscountCode" name="Discount" id="coupon-code"  placeholder="Promo Code"><div class="col-1 ">
								</div><input class="apply col-4" name="apply-coupon" id="apply-coupon" type="button" value="APPLY">
							</div>
							<div class="col-sm-12 text-danger">
								<span id="coupon-alert"></span>
							</div>
						</div>

						<div class="nk-gap-2"></div>

						<div class="row">
							<div class="col-sm-6 my-auto" style="line-height: 2;">
								<b class="bold-tgray">Subtotal</b><br>
							</div>
							<div class="col-sm-6 custom-right" style="text-align: right!important;line-height: 2;">
								<b class="price"><b id="subtotal_price" style="font-weight: 500!important;">12.00</b>€</b><br>
							</div>
						</div>
						<div class="nk-gap-2"></div>
						<div class="row">
							<div class="col-sm-6 my-auto" style="line-height: 2;">
								<b class="bold-tgray">Discount</b><br>
							</div>
							<div class="col-sm-6 custom-right" style="line-height: 2;text-align: right!important;">
								<b class="price">-<b id="discount_amount" style="font-weight: 500!important;">0</b>%</b><br>
							</div>
						</div>

						<div class="nk-gap-2"></div>

						<div class="row">
							<div class="col-sm-6 my-auto pb-4">
								<b class="total">Total</b>
							</div>
							<div class="col-sm-6 custom-right" style="text-align: right!important;">
								<b class="bold-gray">EUR</b> <b class="total-cost"><span id="total_price">12.00</span>€</b>
							</div>
						</div> <br><br>

					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="nk-gap-4"></div>
	<div class="nk-gap-3"></div>
</div>
<script type="text/javascript">
	var chkBoxBorderStyling = $('.checkbox-border-styling');

	$(document).on('change', '.checkbox-border-styling', function () {
		debugger;
		if (this.checked) {
			$(this).closest('li').addClass('wpforms-selected')
		}
		else {
			$(this).closest('li').removeClass('wpforms-selected')
		}
	});

</script>
<script src="~/js/LolBoosting.js"></script>
