@using SpartanBoosting.Models
@using System.Threading.Tasks
@model BoostingModel
@{
	ViewData["Title"] = "Solo Boosting";
}
<div class="container">
	<div class="nk-gap-1"></div>
	<div class="col-md-12 d-flex justify-content-center">
		<p style="color: green; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
			@TempData["Result"]
		</p>
		<p style="color: red; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
			@TempData["StripePayment"]
		</p>
	</div>
	<a href="https://uk.trustpilot.com/review/spartanboosting.com">
		<span class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
			<a href="https://uk.trustpilot.com/review/spartanboosting.com" target="_blank" rel="noopener">Trustpilot</a>
		</span>
	</a>
	<div class="row vertical-gap">
		<div class="col-lg-12">
			<form asp-action="CreateSolo" role="form" asp-controller="LolBoosting" asp-antiforgery="true"
				  data-ajax-success="Bindgrid"
				  data-ajax="true"
				  data-ajax-method="POST" data-pricing="SoloPricing" class="wpforms-validate wpforms-form wpforms-ajax-form">
				<div class="gfield-pricing-quote-personal-information"></div>
				<div class="gfield-pricing-quote">
					<div class="nk-gap-2"></div>
					<div class="row">
						<div class="col-md-3">
							<div class="pb-4">
								<div class="">
									<label class="pb-3" for="current-rank">YOUR CURRENT LEAGUE:<span class="gfield_required">*</span></label>
									<select name="YourCurrentLeague" asp-for="YourCurrentLeague" id="current-rank" class="form-control gfield-quote" aria-required="true" aria-invalid="false" required="">
										<option value="Iron">Iron</option>
										<option value="Bronze">Bronze</option>
										<option value="Silver">Silver</option>
										<option value="Gold">Gold</option>
										<option value="Platinum">Platinum</option>
										<option value="Diamond">Diamond</option>
									</select>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="CurrentDivision" asp-for="CurrentDivision" id="current-div" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="IV">Division IV</option>
										<option value="III">Division III</option>
										<option value="II">Division II</option>
										<option value="I">Division I</option>
									</select>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="CurrentLP" id="input_10_279" asp-for="CurrentLP" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="LP 0-20">LP 0-20</option>
										<option value="LP 21-40">LP 21-40</option>
										<option value="LP 41-60">LP 41-60</option>
										<option value="LP 61-80">LP 61-80</option>
										<option value="LP 81-100">LP 81-100</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-3"><img id="current-rank-logo" style="height: 12rem;" src='~/img/Lol Ranks/IronIV.png' /></div>
						<div class="col-md-3">
							<div class="pb-4">
								<div class="">
									<label class="pb-3" for="desired-rank">YOUR DESIRED LEAGUE:<span class="gfield_required">*</span></label>
									<select name="DesiredCurrentLeague" asp-for="DesiredCurrentLeague" id="desired-rank" class="form-control gfield-quote" aria-required="true" aria-invalid="false" required="">
										<option value="Iron">Iron</option>
										<option value="Bronze">Bronze</option>
										<option value="Silver">Silver</option>
										<option value="Gold">Gold</option>
										<option value="Platinum">Platinum</option>
										<option value="Diamond">Diamond</option>
										<option value="Master">Master</option>
									</select>
									<label id="master-rank-notification" style="display:none" for="desired-rank" class="gfield note gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below gfield_visibility_visible font-weight-normal">For divisions higher than Master please contact us!</label>
								</div>
							</div>
							<div class="pb-4">
								<div class="">
									<select name="DesiredCurrentDivision" asp-for="DesiredCurrentDivision" id="desired-div" class="form-control gfield-quote" aria-required="true" aria-invalid="false">
										<option value="IV">Division IV</option>
										<option value="III">Division III</option>
										<option value="II">Division II</option>
										<option value="I">Division I</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-3"><img id="desired-rank-logo" style="height: 12rem;" src='~/img/Lol Ranks/IronIV.png' /></div>
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<div class="col-md-6 pr-3">
							<div class=" ">
								<label class="pb-3 " for="your-server">YOUR SERVER:<span class="gfield_required">*</span></label>
								<select name="Server" asp-for="Server" id="your-server" class="form-control  gfield-quote" aria-required="true" aria-invalid="false" required="">
									<option value="Europe West">Europe West</option>
									<option value="Europe Nordic &amp; East">Europe Nordic &amp; East</option>
									<option value="North America">North America</option>
									<option value="Oceania">Oceania</option>
									<option value="Russia">Russia</option>
									<option value="Turkey">Turkey</option>
									<option value="Latin America North">Latin America North</option>
									<option value="Latin America South">Latin America South</option>
									<option value="Brazil">Brazil</option>
									<option value="Japan">Japan</option>
									<option value="Korea">Korea</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class=" ">
								<label class="pb-3 gfield_label" for="queue-type">
									TYPE OF QUEUE:<span class="gfield_required">*</span>
								</label>
								<select name="TypeOfQueue" asp-for="TypeOfQueue" id="queue-type" class="form-control  gfield-quote" aria-required="true" aria-invalid="false" required="">
									<option value="Solo/Duo (5v5)">Solo/Duo (5v5)</option>
									<option value="Flex Summoners Rift (5v5)">Flex Summoners Rift (5v5)</option>
								</select>
							</div>
						</div>
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<label class="col-12">SPECIFIC ROLES:</label>
						<div class="col-12" id="">Extra charge for special offer is 15% (select at least two)</div>
						<div class="row w-100 pt-4 pb-4">
							<ul id="wpforms-931-field_3" class="w-100 row">
								<li class="wpforms-image-choices-item checkbox-border-styling" style="width:20%">
									<label class="roles-field-label-inline" for="" tabindex="0">
										<span class="wpforms-image-choices-image">
											<img src="~/img/Wordpress Icons/top-role.png" alt="Top" title="Top" src="~/img/Wordpress Icons/top-role.png" class="lazyloaded" data-was-processed="true">
											<noscript><img src="~/img/Wordpress Icons/top-role.png" alt="Top" title="Top"></noscript>
										</span>
										<input asp-for="SpecificRolesTop" name="SpecificRolesTop" type="checkbox" id="wpforms-931-field_3_1" class="checkbox-border-styling gfield-quote" value="Top" tabindex="-1"><span class="">Top</span>
									</label>
								</li>
								<li class="wpforms-image-choices-item checkbox-border-styling" style="width:20%">
									<label class="roles-field-label-inline" for="" tabindex="0">
										<span class="wpforms-image-choices-image">
											<img src="~/img/Wordpress Icons/jungle-role.png" alt="Jungle" title="Jungle" src="~/img/Wordpress Icons/jungle-role.png" class="lazyloaded" data-was-processed="true">
											<noscript><img src="~/img/Wordpress Icons/jungle-role.png" alt="Jungle" title="Jungle"></noscript>
										</span>
										<input asp-for="SpecificRolesJungle" name="SpecificRolesJungle" type="checkbox" id="wpforms-931-field_3_2" class="checkbox-border-styling gfield-quote" value="Jungle" tabindex="-1"><span class="">Jungle</span>
									</label>
								</li>
								<li class="wpforms-image-choices-item checkbox-border-styling" style="width:20%">
									<label class="roles-field-label-inline" for="" tabindex="0">
										<span class="wpforms-image-choices-image">
											<img src="~/img/Wordpress Icons/mid-role.png" alt="Middle" title="Middle" src="~/img/Wordpress Icons/mid-role.png" class="lazyloaded" data-was-processed="true">
											<noscript><img src="~/img/Wordpress Icons/mid-role.png" alt="Middle" title="Middle"></noscript>
										</span>
										<input asp-for="SpecificRolesMiddle" name="SpecificRolesMiddle" type="checkbox" id="wpforms-931-field_3_3" class="checkbox-border-styling gfield-quote" value="Middle" tabindex="-1"><span class="">Middle</span>
									</label>
								</li>
								<li class="wpforms-image-choices-item checkbox-border-styling" style="width:20%">
									<label class="roles-field-label-inline" for="" tabindex="0">
										<span class="wpforms-image-choices-image">
											<img src="~/img/Wordpress Icons/bottom-role.png" alt="ADC" title="ADC" src="~/img/Wordpress Icons/bottom-role.png" class="lazyloaded" data-was-processed="true">
											<noscript><img src="~/img/Wordpress Icons/bottom-role.png" alt="ADC" title="ADC"></noscript>
										</span>
										<input asp-for="SpecificRolesADC" name="SpecificRolesADC" type="checkbox" id="wpforms-931-field_3_4" class="checkbox-border-styling gfield-quote" value="ADC" tabindex="-1"><span class="">ADC</span>
									</label>
								</li>
								<li class="wpforms-image-choices-item checkbox-border-styling" style="width:20%">
									<label class="roles-field-label-inline" for="" tabindex="0">
										<span class="wpforms-image-choices-image">
											<img src="~/img/Wordpress Icons/support-role.png" alt="Support" title="Support" src="~/img/Wordpress Icons/support-role.png" class="lazyloaded" data-was-processed="true">
											<noscript><img src="~/img/Wordpress Icons/support-role.png" alt="Support" title="Support"></noscript>
										</span>
										<input asp-for="SpecificRolesSupport" name="SpecificRolesSupport" type="checkbox" id="wpforms-931-field_3_6" class="checkbox-border-styling gfield-quote" value="Support" tabindex="-1"><span class="">Support</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<label class=" " for="specific-champions">SPECIFIC CHAMPIONS:</label>
						<input class=" form-control gfield-quote " name="SpecificChampions" id="specific-champions" asp-for="SpecificChampions" type="text">
					</div>
					<div class="nk-gap-2"></div>
					<div class="row pb-4">
						<label class="" for="vpn-or-not">Do You Require Your Booster To Use A VPN??</label>
						<select name="VPN" asp-for="VPN" id="vpn-or-not" class=" form-control gfield-quote" aria-invalid="false">
							<option value="False">No</option>
							<option value="True">Yes</option>
						</select>
						<p>This extra option is free of charge!</p>
					</div>
					<div class="nk-gap-2"></div>
					<div class=" container boost-info mb-5">
						<div class="">
							<div class="row ">
								<input type="text" class=" col-7 form-control" asp-for="DiscountCode" name="Discount" id="coupon-code" placeholder="Promo Code"><div class="col-1 ">
								</div><input class="apply col-4" name="apply-coupon" id="apply-coupon" type="button" value="APPLY">
							</div>
							<div class="col-sm-12 text-danger">
								<span id="coupon-alert"></span>
							</div>
						</div>

						<div class="nk-gap-2"></div>





						<div class="row">
							<div class="col-sm-6 my-auto" style="line-height: 2;">
								<b class="bold-tgray">Subtotal</b><br>
							</div>
							<div class="col-sm-6 custom-right" style="text-align: right!important;line-height: 2;">
								<b class="price"><b id="subtotal_price" style="font-weight: 500!important;">12.00</b>€</b><br>
							</div>
						</div>
						<div class="nk-gap-2"></div>
						<div class="row">
							<div class="col-sm-6 my-auto" style="line-height: 2;">
								<b class="bold-tgray">Discount</b><br>
							</div>
							<div class="col-sm-6 custom-right" style="line-height: 2;text-align: right!important;">
								<b class="price">-<b id="discount_amount" style="font-weight: 500!important;">0</b>%</b><br>
							</div>
						</div>

						<div class="nk-gap-2"></div>

						<div class="row">
							<div class="col-sm-6 my-auto pb-4">
								<b class="total">Total</b>
							</div>
							<div class="col-sm-6 custom-right" style="text-align: right!important;">
								<b class="bold-gray">EUR</b> <b class="total-cost"><span id="total_price">12.00</span>€</b>
							</div>
						</div> <br><br>

						<div class="row pt-4 d-flex justify-content-center">
							<button type="button" id="submit-quote" class="btn btn-primary proceed-checkout-btn">CONTINUE TO CHECKOUT</button>
						</div>

					</div>




					@*<div class="row pb-4">
							<label class="" for="discount-text">DISCOUNT COUPON:</label>
							<input class=" form-control " name="DiscountCode" id="discount-text" asp-for="DiscountCode" type="text" value="" >
						</div>

						<div class="row pb-4 d-flex justify-content-center">
							<button type="button" class="btn btn-primary apply-discount-btn">APPLY</button>
						</div>

						<div class="row pb-4 d-flex justify-content-center">
							<label class="gfield_label total-label" for="input_10_95">TOTAL</label>
						</div>
						<div class="row pb-4 d-flex justify-content-center">
							<div class="">
								<span class="ginput_total ginput_total_10" aria-live="polite">0,00 €</span>
								<input type="hidden" name="input_95" id="input_10_95" class="gform_hidden">
							</div>
						</div>

						<div class="row pt-4 d-flex justify-content-center">
							<button type="button" id="submit-quote" class="btn btn-primary proceed-checkout-btn">CONTINUE TO CHECKOUT</button>
						</div>*@
				</div>
			</form>
		</div>
	</div>
	<div class="nk-gap-2"></div>
	<div class="nk-gap-3"></div>
</div>
<script type="text/javascript">
	var chkBoxBorderStyling = $('.checkbox-border-styling');

	$(document).on('click', '.checkbox-border-styling', function () {
		debugger;
		if (!$(this).find('input').prop("checked")) {
			$(this).addClass('wpforms-selected')
			$(this).find('input').prop('checked', true);
		}
		else {
			$(this).removeClass('wpforms-selected')
			$(this).find('input').prop('checked', false);
		}
	});

</script>
<script src="~/js/LolBoosting.js"></script>
