@using SpartanBoosting.Models
@using System.Threading.Tasks
@model WinBoostModel


	<head>

		<meta charset="UTF-8">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		<title>Spartan Boosting &#8211;Boosting and Coaching Service for League of Legends</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style type="text/css"></style>
		<link href="~/css/PostCopy.css" rel="stylesheet" />
		<link href="~/css/site.css" rel="stylesheet" />
		<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
	</head>

<div data-elementor-type="wp-page" data-elementor-id="3628" class="elementor elementor-3628" data-elementor-settings="[]">
	<div class="elementor-inner">
		<div class="elementor-section-wrap">
			<section class="elementor-element elementor-element-440f3f9 elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="440f3f9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;mountains&quot;}">
				<div class="elementor-shape elementor-shape-bottom" data-negative="false">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
						<path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
						<path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
						<path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
					</svg>
				</div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-841a541 elementor-column elementor-col-100 elementor-top-column" data-id="841a541" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-33c305c elementor-widget elementor-widget-heading animated fadeInDown" data-id="33c305c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h1 class="elementor-heading-title elementor-size-default">Win Boost</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-baabb8d elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="baabb8d" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-c6f3b69 elementor-column elementor-col-100 elementor-top-column" data-id="c6f3b69" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-d34f6c6 elementor-widget elementor-widget-text-editor" data-id="d34f6c6" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container pb-4">
											<div class="elementor-text-editor elementor-clearfix">
												<p style="color: #fff; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
												<p style="color: #fff; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">70%+ winrate guaranteed. Once purchased, please join our discord to discuss your order.<br>Win boosting, otherwise known as ‘Net Wins’, can be either solo or duo depending on your purchase.<br>A ‘Net Win’ is the difference between wins and losses e.g over 4 games, 3 wins and 1 loss is 2 netwins.</p>
												<p style="color: #fff; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">Bear in mind that purchasing net wins in a promo series does not guarantee promotion. If you purchase one ‘Net Win’ when you’re 1-1 in a 3 game promotion series, you could lose the first game and then win the next two which would be classed as 1 ‘Net Win’. In this scenario however, you would be further away than when you started.&nbsp;</p><p>
													<span style="color: #fff; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
														For guaranteed promotion, please purchase Division Boosting.
													</span><br>
												</p>
											</div>
										</div>
										<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
											<a href="https://uk.trustpilot.com/review/spartanboosting.com" target="_blank" rel="noopener">Trustpilot</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-5d457d5 elementor-section-height-min-height elementor-section-items-top elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="5d457d5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-5442bf3 elementor-column elementor-col-100 elementor-top-column" data-id="5442bf3" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-f27e73c eael-gravity-form-button-custom elementor-widget elementor-widget-eael-gravity-form" data-id="f27e73c" data-element_type="widget" data-widget_type="eael-gravity-form.default">
										<div class="elementor-widget-container">
											<div class="eael-contact-form eael-gravity-form title-description-hide eael-contact-form-align-default">
												<div class="eael-gravity-form-heading">
													<h3 class="eael-contact-form-title eael-gravity-form-title">
														Win BOOST
													</h3>
												</div>

												<form asp-action="CreateWinBoost" role="form" asp-controller="LolBoosting" asp-antiforgery="true"
													  data-ajax-success="Bindgrid"
													  data-ajax="true"
													  data-ajax-method="POST" data-pricing="WinBoostPricing">
													<div class="gfield-pricing-quote-personal-information"></div>
													<div class="gfield-pricing-quote">
														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="current-rank">YOUR CURRENT LEAGUE:<span class="gfield_required">*</span></label>
																	<select asp-for="YourCurrentLeague" name="YourCurrentLeague" id="current-rank" class="medium gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																		<option value="Iron">Iron</option>
																		<option value="Bronze">Bronze</option>
																		<option value="Silver">Silver</option>
																		<option value="Gold">Gold</option>
																		<option value="Platinum">Platinum</option>
																		<option value="Diamond">Diamond</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<select asp-for="CurrentDivision" name="CurrentDivision" id="current-div" class="medium gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																		<option value="IV">Division IV</option>
																		<option value="III">Division III</option>
																		<option value="II">Division II</option>
																		<option value="I">Division I</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row pb-4">
															<div class="col-md-6">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="your-server">YOUR SERVER:<span class="gfield_required">*</span></label>
																	<select asp-for="Server" name="Server" id="your-server" class="large gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																		<option value="Europe West">Europe West</option>
																		<option value="Europe Nordic &amp; East">Europe Nordic &amp; East</option>
																		<option value="North America">North America</option>
																		<option value="Oceania">Oceania</option>
																		<option value="Russia">Russia</option>
																		<option value="Turkey">Turkey</option>
																		<option value="Latin America North">Latin America North</option>
																		<option value="Latin America South">Latin America South</option>
																		<option value="Brazil">Brazil</option>
																		<option value="Japan">Japan</option>
																		<option value="Korea">Korea</option>
																	</select>
																</div>
															</div>
															<div class="col-md-6">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="queue-type">
																		TYPE OF QUEUE:<span class="gfield_required">*</span>
																	</label>
																	<select asp-for="TypeOfQueue" name="TypeOfQueue" id="queue-type" class="large gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																		<option value="Solo/Duo (5v5)">Solo/Duo (5v5)</option>
																		<option value="Flex Summoners Rift (5v5)">Flex Summoners Rift (5v5)</option>
																	</select>
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="type-of-service">TYPE OF SERVICE:<span class="gfield_required">*</span></label>
																	<select asp-for="TypeOfService" name="TypeOfService" id="type-of-service" class="large gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																		<option value="Solo">Solo</option>
																		<option value="Duo">Duo</option>
																	</select>
																</div>
															</div>
														</div>

														@*//needed to show on duo select list*@
														<div class="row pb-4" id="specific-roles-content" style="display:none">
															<label class="col-12 gfield_label">SPECIFIC ROLES:</label>
															<div class="col-12 gfield_description" id="gfield_description_10_93">Extra charge for special offer is 15% (select at least two)</div>
															<div class="ginput_container row pt-4 pb-4">
																<div class="col-1"></div>
																<div class="col-4">
																	<input class="single-select-checkbox gfield-quote" asp-for="TypeOfDuoRegular" name="TypeOfDuoRegular" type="checkbox" value="Jungle" id="choice_10_93_2">
																	<label for="choice_10_93_2" id="label_12_287_0">
																		<span data-bg="url(https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular-274x300.png)" class="image-choices-choice-image-wrap rocket-lazyload" style="background-image: url(&quot;https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular-274x300.png&quot;);" data-was-processed="true">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" class="image-choices-choice-image" data-lightbox-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular.png" data-lazy-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular-274x300.png"><noscript><img src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular-274x300.png" alt="" class="image-choices-choice-image" data-lightbox-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-regular.png" /></noscript>
																		</span><label class="image-choices-choice-text">Regular</label>
																	</label>
																</div>
																<div class="col-4">
																	<input class="single-select-checkbox gfield-quote" asp-for="TypeOfDuoPremium" name="TypeOfDuoPremium" type="checkbox" value="Top" id="choice_10_93_1">
																	<label for="choice_10_93_1" id="label_12_287_1">
																		<span data-bg="url(https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium-274x300.png)" class="image-choices-choice-image-wrap rocket-lazyload" style="background-image: url(&quot;https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium-274x300.png&quot;);" data-was-processed="true"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" class="image-choices-choice-image" data-lightbox-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium.png" data-lazy-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium-274x300.png"><noscript><img src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium-274x300.png" alt="" class="image-choices-choice-image" data-lightbox-src="https://spartanboosting.com/wp-content/uploads/2020/06/duo-premium.png" /></noscript></span>
																		<label class="image-choices-choice-text">Premium</label>
																	</label>
																</div>
															</div>
														</div>

														<div class="row pl-4 pr-4 pb-4">
															<label class=" gfield_label" for="num-games">NUMBER OF GAMES:</label>
															<select asp-for="NumOfGames" name="NumOfGames" id="num-games" class="large gfield_select gfield-quote" aria-required="true" aria-invalid="false">
																<option value="1" selected="selected">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
																<option value="5">5</option>
																<option value="6">6</option>
																<option value="7">7</option>
																<option value="8">8</option>
																<option value="9">9</option>
																<option value="10">
																	10
																</option>
															</select>
														</div>

														<div class="row pl-4 pr-4 pb-4">
															<label class=" gfield_label" for="discount-text">DISCOUNT COUPON:</label>
															<input class=" large " asp-for="Discount" name="Discount" id="discount-text" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
														</div>

														<div class="row pb-4 d-flex justify-content-center">
															<button class="btn btn-primary apply-discount-btn">APPLY</button>
														</div>

														<div class="row pb-4 d-flex justify-content-center">
															<label class="gfield_label total-label" for="input_10_95">TOTAL</label>
														</div>
														<div class="row pb-4 d-flex justify-content-center">
															<div class="ginput_container ginput_container_total ">
																<span class="ginput_total ginput_total_10" aria-live="polite">1.50 €</span>
																<input type="hidden" name="input_95" id="input_10_95" class="gform_hidden">
															</div>
														</div>

														<div class="row pt-4 d-flex justify-content-center">
															<button type="button" id="submit-quote" class="btn btn-primary proceed-checkout-btn">CONTINUE TO CHECKOUT</button>
														</div>
													</div>
												</form>

												<script type="text/javascript" data-eqcss-read="true">jQuery(document).ready(function () { jQuery(document).trigger('gform_post_render', [10, 1]) });</script>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<script src="~/js/LolBoosting.js"></script>
