@using SpartanBoosting.Models;
@{
	List<BoosterInformation> Boosters = BoosterInformation.BoosterInformationList();
	bool notFirstCase = false;
}

<div class="container text-center my-3" style="max-width: 100%;">
	<div class='booster-carousel'>
		@foreach (var item in Boosters)
		{
			<div class="item lgx-item pl-3 pr-3">
				<div class="staff-item">
					<img class="alignnone size-full wp-image-1017" src="~/img/BoosterIcons/@(item.BoosterIcon).png" alt="" width="120" height="120" />
					<div class="staff-meta">
						<h3>@item.Name</h3>
						Booster


					</div>
					<div class="staff-desc">
						<div class="staff-desc-row">
							<b>League/Elo: </b>
							@item.League
						</div>
						<div class="staff-desc-row">
							<b>Role: </b>
							@item.Role
						</div>
						<div class="staff-desc-row">
							<b>Champions: </b>
							@item.Champions
						</div>
					</div>
				</div>
			</div>
			notFirstCase = true; ;
		}
	</div>
</div>



