
@{
	List<DiscordReviewsModel> reviews = DiscordReviewsModel.DiscordInformationList();
}
<div class="container text-center my-3 slick-carousel" style="max-width: 100%;">
	@foreach (var item in reviews)
	{
		<div class="sp-testimonial-free-item ">
			<div class="sp-testimonial-free row d-flex justify-content-center">
				<div class="sp-tfree-client-image d-flex justify-content-center col-12">
					<img width="120" height="120" src="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg" class="tfree-client-image wp-post-image lazyloaded" alt="" data-lazy-srcset="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg 120w, https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-150x150.jpg 150w" data-lazy-sizes="(max-width: 120px) 100vw, 120px" data-lazy-src="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg" sizes="(max-width: 120px) 100vw, 120px" srcset="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg 120w, https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-150x150.jpg 150w" data-was-processed="true">
					<noscript>
						<img width="120" height="120" src="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg" class="tfree-client-image wp-post-image" alt="" srcset="https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-120x120.jpg 120w, https://spartanboosting.com/wp-content/uploads/2020/06/discord-logo-150x150.jpg 150w" sizes="(max-width: 120px) 100vw, 120px" />
					</noscript>
				</div>
				<div class="tfree-client-testimonial col-12">
					<p class="tfree-testimonial-content"></p><blockquote><p>@item.Text</p></blockquote>
					<p></p>
				</div>
			</div>
			<div class="d-flex justify-content-center row">
				<div class="col-12">
					<h4 class="tfree-client-name ">@item.Name</h4>
				</div>
				<div class="tfree-client-rating col-12">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="tfree-client-designation col-12">Discord Review</div>
			</div>
		</div>
	}
</div>