@using SpartanBoosting.Models
@using System.Threading.Tasks
@model PersonalInformation
<div class="row pb-4">
	<div class="col-md-6 pr-3">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="current-rank">LEAGUE OF LEGENDS USERNAME:<span class="gfield_required">*</span></label>
			<input class="large " name="UserName" id="" asp-for="UserName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
		</div>
	</div>
	<div class="col-md-6">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="desired-rank">LEAGUE OF LEGENDS PASSWORD:<span class="gfield_required">*</span></label>
			<input class="large " name="Password" id="" asp-for="Password" type="password" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
		</div>
	</div>
</div>

<div class="row pb-4">
	<div class="col-md-6 pr-3">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="current-rank">First Name:</label>
			<input class="large " name="FirstName" id="" asp-for="FirstName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
		</div>
	</div>
	<div class="col-md-6">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="desired-rank">Last Name:</label>
			<input class="large " name="LastName" id="" asp-for="LastName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
		</div>
	</div>
</div>

<div class="row pb-4">
	<div class="col-md-6 pr-3">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="current-rank">Email:<span class="gfield_required">*</span></label>
			<input class="large " name="Email" id="" asp-for="Email" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
		</div>
	</div>
	<div class="col-md-6">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="desired-rank">Discord:<span class="gfield_required">*</span></label>
			<input class="large " name="Discord" id="" asp-for="Discord" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
		</div>
	</div>
</div>

<div class="row pb-4">
	<div class="col-md-12">
		<div class="ginput_container ginput_container_select">
			<label class="pb-3 gfield_label" for="current-rank">PAYMENT METHOD:<span class="gfield_required">*</span></label>
			<select asp-for="PaymentMethod" name="PaymentMethod" id="input_10_243" class="large gfield_select" aria-required="true" aria-invalid="false" required="">
				<option value="Stripe" selected="selected">Stripe</option>
				<option value="Paypal">Paypal</option>
			</select>
		</div>
	</div>
</div>

<div class="stripe-form">
	<span class="payment-errors"></span>

	<div class="row pb-4">
		<div class="col-md-12">
			<div class="ginput_container ginput_container_select">
				<label class="w-100">
					<span class="pb-3">Card Number</span>
					<input type="text" data-stripe="number">
				</label>
			</div>
		</div>
	</div>

	<div class="row pb-4">
		<div class="col-md-4 pr-3">
			<div class="ginput_container ginput_container_select">
				<label class="w-100">
					<span class="pb-3">CVC</span>
					<input type="text" data-stripe="cvc">
				</label>
			</div>
		</div>
		<div class="col-md-4 pr-3">
			<div class="ginput_container ginput_container_select">
				<label class="w-100">
					<span class="pb-3">Expiration (MM)</span>
					<input type="text" data-stripe="exp-month">
				</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ginput_container ginput_container_select">
				<label class="w-100">
					<span class="pb-3">Expiration (YYYY)</span>
					<input type="text" data-stripe="exp-year">
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row pt-4 d-flex justify-content-center">
	<button class="btn btn-primary proceed-checkout-btn">CHECKOUT</button>
</div>

<script type="text/javascript">
	Stripe.setPublishableKey('pk_live_u9ZDiEA4MATglICKYobFNb0S00v6iolLzi');

	var stripeResponseHandler = function (status, response) {
		var $form = $('.stripe-form');
		$('form').validate();
		if (response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// token contains id, last4, and card type
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$form.append($('<input type="hidden" name="stripeToken" asp-for="stripeToken" />').val(token));
			// and re-submit
			$('form').submit();
		}
	};

	jQuery(function ($) {
		$('.proceed-checkout-btn').click(function (e) {
			debugger;
			e.preventDefault(); // stop redirection

			$('[required]:visible').each(function () {
				if (!$(this)[0].checkValidity()) {
					$('.toast').toast('show');
					$(this).addClass('field-validation-error')
				}
				else {
					$(this).removeClass('field-validation-error')
				}
			});
			if (!$("form")[0].checkValidity()) {
				return;
			}

			if ($('[name="PaymentMethod"]').val() == "Stripe") {

				var $form = $('.stripe-form');

				// Disable the submit button to prevent repeated clicks
				$form.find('button').prop('disabled', true);

				Stripe.card.createToken($form, stripeResponseHandler);

				// Prevent the form from submitting with the default action
				return false;
			}
			else { $('form').submit(); }
		});
	})
</script>
