/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.league-link {
	background-size: cover;
	background-image: url(/Client/assets/images/LeagueOfLegends/lol-bg.jpg);
	object-fit: cover;
	height: 100%;
	width: 100%;
	height: 400px;
	max-width: 275px;
	text-align: center;
	border-radius: 10px;
	position: relative;
	margin: 0 auto;
	-webkit-transition: background-image .2s ease-in-out;
	transition: background-image .2s ease-in-out;
	margin-bottom: 30px;
	opacity: .4;
}

	.league-link:hover {
		opacity: 1;
	}

.checkbox-border-styling input, .single-select-checkbox {
	display: none;
}

.wpforms-image-choices-item {
	width: 20%;
	margin-bottom: 5px !important;
	background: none !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}

.roles-field-label-inline {
	background-color: #fff;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 20px 20px 18px 20px;
	transition: all 0.5s;
	text-align: center;
	background-color: transparent !important;
	border-color: #c3c3c3 !important;
	margin: 5px !important;
}

.wpforms-image-choices-image {
	display: block;
	position: relative;
}

	.wpforms-image-choices-image img {
		width: 120px !important;
		display: inline-block;
		margin: 0 auto;
		max-width: 100%;
	}

.wpforms-selected .roles-field-label-inline, .duo-status.wpforms-selected {
	border: 1px solid #fd941f;
	border-color: #fd941f !important;
}


.wpforms-selected .wpforms-image-choices-image:after {
	opacity: 1 !important;
}

.wpforms-image-choices-image:after {
	content: "\2714";
	font-size: 22px;
	line-height: 32px;
	color: #fff;
	background: green;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	transition: all 0.5s;
}
