/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.league-link {
	background-size: cover;
	background-image: url(/Client/assets/images/LeagueOfLegends/lol-bg.jpg);
	object-fit: cover;
	height: 100%;
	width: 100%;
	height: 400px;
	max-width: 275px;
	text-align: center;
	border-radius: 10px;
	position: relative;
	margin: 0 auto;
	-webkit-transition: background-image .2s ease-in-out;
	transition: background-image .2s ease-in-out;
	margin-bottom: 30px;
	opacity: .4;
}
.league-link:hover {
	opacity: 1;
}