
@{
	List<DiscordReviewsModel> reviews = DiscordReviewsModel.DiscordInformationList();
}
<div class="container text-center my-3 slick-carousel" style="max-width: 100%;">
	@foreach (var item in reviews)
	{
		<div class="sp-testimonial-free-item ">
			<div class="sp-testimonial-free row d-flex justify-content-center">
				<div class="sp-tfree-client-image d-flex justify-content-center col-12">
					<img style="border-radius:50%" width="120" height="120" src="~/img/Wordpress Icons/discord-logo.jpg" class="tfree-client-image wp-post-image lazyloaded">
					<noscript>
						<img style="border-radius:50%" width="120" height="120" src="~/img/Wordpress Icons/discord-logo.jpg" class="tfree-client-image wp-post-image" alt="" />
					</noscript>
				</div>
				<div class="tfree-client-testimonial col-12">
					<p class="tfree-testimonial-content"></p><blockquote><p>@item.Text</p></blockquote>
					<p></p>
				</div>
			</div>
			<div class="d-flex justify-content-center row">
				<div class="col-12">
					<h4 class="tfree-client-name ">@item.Name</h4>
				</div>
				<div class="tfree-client-rating col-12">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="tfree-client-designation col-12">Discord Review</div>
			</div>
		</div>
	}
</div>