@*<ul id="wpforms-931-field_3" class="wpforms-field-required wpforms-image-choices wpforms-image-choices-modern w-100 row">
	<li class="choice-1 depth-1 wpforms-image-choices-item" style="width:20%">
		<label class="wpforms-field-label-inline" for="wpforms-931-field_3_1" tabindex="0">
			<span class="wpforms-image-choices-image">
				<img src="~/img/Wordpress Icons/top-role.png" alt="Top" title="Top" src="~/img/Wordpress Icons/top-role.png" class="lazyloaded" data-was-processed="true">
				<noscript><img src="~/img/Wordpress Icons/top-role.png" alt="Top" title="Top"></noscript>
			</span>
			<input asp-for="SpecificRolesTop" name="SpecificRolesTop" type="checkbox" id="wpforms-931-field_3_1" class="wpforms-screen-reader-element checkbox-border-styling" value="Top" tabindex="-1" ><span class="wpforms-image-choices-label">Top</span>
		</label>
	</li>
	<li class="choice-2 depth-1 wpforms-image-choices-item" style="width:20%">
		<label class="wpforms-field-label-inline" for="wpforms-931-field_3_2" tabindex="0">
			<span class="wpforms-image-choices-image">
				<img src="~/img/Wordpress Icons/jungle-role.png" alt="Jungle" title="Jungle" src="~/img/Wordpress Icons/jungle-role.png" class="lazyloaded" data-was-processed="true">
				<noscript><img src="~/img/Wordpress Icons/jungle-role.png" alt="Jungle" title="Jungle"></noscript>
			</span>
			<input asp-for="SpecificRolesJungle" name="SpecificRolesJungle" type="checkbox" id="wpforms-931-field_3_2" class="wpforms-screen-reader-element checkbox-border-styling" value="Jungle" tabindex="-1" ><span class="wpforms-image-choices-label">Jungle</span>
		</label>
	</li>
	<li class="choice-3 depth-1 wpforms-image-choices-item" style="width:20%">
		<label class="wpforms-field-label-inline" for="wpforms-931-field_3_3" tabindex="0">
			<span class="wpforms-image-choices-image">
				<img src="~/img/Wordpress Icons/mid-role.png" alt="Middle" title="Middle" src="~/img/Wordpress Icons/mid-role.png" class="lazyloaded" data-was-processed="true">
				<noscript><img src="~/img/Wordpress Icons/mid-role.png" alt="Middle" title="Middle"></noscript>
			</span>
			<input asp-for="SpecificRolesMiddle" name="SpecificRolesMiddle" type="checkbox" id="wpforms-931-field_3_3" class="wpforms-screen-reader-element checkbox-border-styling" value="Middle" tabindex="-1" ><span class="wpforms-image-choices-label">Middle</span>
		</label>
	</li>
	<li class="choice-4 depth-1 wpforms-image-choices-item" style="width:20%">
		<label class="wpforms-field-label-inline" for="wpforms-931-field_3_4" tabindex="0">
			<span class="wpforms-image-choices-image">
				<img src="~/img/Wordpress Icons/bottom-role.png" alt="ADC" title="ADC" src="~/img/Wordpress Icons/bottom-role.png" class="lazyloaded" data-was-processed="true">
				<noscript><img src="~/img/Wordpress Icons/bottom-role.png" alt="ADC" title="ADC"></noscript>
			</span>
			<input asp-for="SpecificRolesADC" name="SpecificRolesADC" type="checkbox" id="wpforms-931-field_3_4" class="wpforms-screen-reader-element checkbox-border-styling" value="ADC" tabindex="-1" ><span class="wpforms-image-choices-label">ADC</span>
		</label>
	</li>
	<li class="choice-6 depth-1 wpforms-image-choices-item" style="width:20%">
		<label class="wpforms-field-label-inline" for="wpforms-931-field_3_6" tabindex="0">
			<span class="wpforms-image-choices-image">
				<img src="~/img/Wordpress Icons/support-role.png" alt="Support" title="Support" src="~/img/Wordpress Icons/support-role.png" class="lazyloaded" data-was-processed="true">
				<noscript><img src="~/img/Wordpress Icons/support-role.png" alt="Support" title="Support"></noscript>
			</span>
			<input asp-for="SpecificRolesSupport" name="SpecificRolesSupport" type="checkbox" id="wpforms-931-field_3_6" class="wpforms-screen-reader-element checkbox-border-styling" value="Support" tabindex="-1" ><span class="wpforms-image-choices-label">Support</span>
		</label>
	</li>
</ul>*@