<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>One Page Wonder - Start Bootstrap Template</title>

	<!-- Bootstrap core CSS -->
	<link href="~/ClientTheme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<link href="~/ClientTheme/css/main.css.css" rel="stylesheet" />
	<link href="~/ClientTheme/css/media_all.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="~/ClientTheme/css/one-page-wonder.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/7ed919089a.js"></script>
	<script src="https://use.fontawesome.com/7ed919089a.js"></script>
</head>

<body>

	<!-- Navigation -->
	<!--/.Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container pl-0 ml-0 mr-0 w-100" style="max-width:100%">
			<!-- Navbar brand -->
			<div id="site-logo" class="clr" itemscope="" itemtype="https://schema.org/Brand">
				<div id="site-logo-inner" class="clr">
					<a href="https://spartanboosting.com/" class="custom-logo-link" rel="home">
						<img width="390" height="50" src="/img/logo.png" class="custom-logo">
					</a>
				</div>
				<!-- #site-logo-inner -->
			</div>

			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
					aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible content -->
			<div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight w-100" id="basicExampleNav">

				<!-- Links -->
				<ul class="navbar-nav ">
					<li class="nav-item active pr-2">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">(current)</span>
						</a>
					</li>

					<!-- Dropdown -->
					<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLolBoosting" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">Lol Boosting</a>
					</li>
					<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuTFTBoosting" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">TFT Boosting</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">Coaching</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">Join The Team</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">Price Beat Guarantee</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">Terms of Service</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">FAQ</a>
					</li>
					<li class="nav-item pr-2">
						<a class="nav-link ">Contact Us</a>
					</li>
				</ul>
				<!-- Links -->
			</div>
			<!-- Collapsible content -->
		</div>
		<div class=" w-100 dropdown-menu dropdown-primary mt-0 nav-menu-dropdown" aria-labelledby="navbarDropdownMenuLolBoosting" style="border-radius: 0;display: none;border: 0;">
			<div class="row" style="    margin-left: 16.66666667%;">
				<a class=" col-md-3 dropdown-item" href="#">Solo Boost</a>
				<a class=" col-md-3 dropdown-item" href="#">Duo Boost</a>
				<a class="col-md-3 dropdown-item" href="#">Win Boost</a>
				<a class="col-md-3 dropdown-item" href="#">Placement Matches</a>
			</div>
		</div>
		<div class=" w-100 dropdown-menu dropdown-primary mt-0 nav-menu-dropdown" aria-labelledby="navbarDropdownMenuTFTBoosting" style="border-radius: 0;display: none;border: 0;">
			<div class="row" style="    margin-left: 16.66666667%;">
				<div class=" col-md-3 "></div>
				<a class=" col-md-3 dropdown-item" href="#">TFT Solo Boost</a>
				<a class="col-md-3 dropdown-item" href="#">TFT Placement Boost</a>
				<div class=" col-md-3 "></div>
			</div>
		</div>
	</nav>
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading mb-0">One Page Wonder</h1>
				<h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
				<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
			</div>
		</div>
		<div class="bg-circle-1 bg-circle"></div>
		<div class="bg-circle-2 bg-circle"></div>
		<div class="bg-circle-3 bg-circle"></div>
		<div class="bg-circle-4 bg-circle"></div>
	</header>

	<section>
		<div class="container">
			<div class="col-xs-12 content-section content-bottom-pad clearfix">
				<div class="row section-icon">
					<div class="col-xs-12">
						<h2>Reach your dream division with a next-gen LOL boost.</h2>
					</div>
					<div class="col-xs-12 col-md-8 offset-2">
						<div class="row">
							<div class="col-xs-3 green-circle text-center">
								<div>
									<span class="oulter-circle">
										<div class="oulter-circle-up-arrow-icon"></div>
										<span class="default-circle"></span>
									</span>
								</div>
								<p class="overall-winrate"><b class="section-icon-counter">89.75</b><b class="overall-percent">%</b></p>
								<p class="overalls">AVERAGE</p>
								<p class="overalls">WINRATE</p>
							</div>
							<div class="col-xs-3 green-circle text-center">
								<div>
									<span class="oulter-circle">
										<div class="oulter-circle-price-icon"></div>
										<span class="default-circle"></span>
									</span>
								</div>
								<p class="section-icon-counter">7461</p>
								<p class="overalls">orders</p>
								<p class="overalls">completed</p>
							</div>
							<div class="col-xs-3 green-circle text-center">
								<div>
									<span class="oulter-circle">
										<div class="oulter-circle-support-icon"></div>
										<span class="default-circle"></span>
									</span>
								</div>
								<p class="week-support">
									<span class="section-icon-counter">24</span>
									<b class="splitter">/</b>
									<span class="section-icon-counter">7</span>
								</p>
								<p class="overalls">days a week</p>
								<p class="overalls">customer support</p>
							</div>
							<div class="col-xs-3 green-circle text-center">
								<div>
									<span class="oulter-circle">
										<div class="oulter-circle-time-icon"></div>
										<span class="default-circle"></span>
									</span>
								</div>
								<p class="section-icon-counter">15</p>
								<p class="overalls">boosters</p>
								<p class="overalls">online</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<h4 class="trusted">trusted by thousands of gamers worldwide
						</h4>
						<h4 class="game-users">Over <span>7,000</span> gamers already use our boosting services</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="p-5">
						<img src="~/ClientTheme/img/live-chat-image.PNG" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="p-5">
						<h2 class="display-4">Live chat with your booster</h2>
						<p>On your order page, you will be able to get in touch with your Booster whenever you want. This allows you to ask the Booster any questions about the game, such as champions, builds or tactics. You can also use chat for special requests such as screenshotting messages from your friends, or adding your smurf account which will allow you to spectate games played by our worker. Last but not least, you can simply have a nice chat about non-game stuff, our boosters are in fact very open-minded and absolutely friendly people. As you can see, there are, without a doubt, a lot of advantages that you can get with our live chat. We have only provided a few examples to help you make good use of this feature.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5">
						<img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 order-lg-1">
					<div class="p-5">
						<h2 class="display-4">Let there be rock!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="py-5 bg-black">
		<div class="container">
			<p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="~/ClientTheme/vendor/jquery/jquery.min.js"></script>
	<script src="~/ClientTheme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
@RenderBody()

<script type="text/javascript">
	$('.dropdown-toggle').on('click', function () {
		debugger;
		if (!$(this).parent().hasClass('showing-dropdown')) {
			$('.nav-menu-dropdown:visible').hide()
			$("body").find("[aria-labelledby='" + $(this).attr('id') + "']").first().stop(true, true).slideDown();
			$(this).parent().addClass('showing-dropdown')
		}
		else {
			$("body").find("[aria-labelledby='" + $(this).attr('id') + "']").first().stop(true, true).slideUp();
			$(this).parent().removeClass('showing-dropdown')
		}
	});

</script>