<div id="top-bar-wrap" class="clr">
	<div id="top-bar" class="clr">
		<div id="top-bar-inner" class="clr">
			<div id="top-bar-content" class="clr has-content top-bar-centered">
				<span class="topbar-content">
					<a href="https://discord.gg/kWEEyT6" aria-label="Discord Community (opens in a new tab)" target="_blank" rel="noopener noreferrer">
						JOIN OUR DISCORD COMMUNITY <span class="fab fa-discord fa-lg" aria-hidden="true"></span>
					</a>
				</span>
			</div>
			<!-- #top-bar-content -->
			<div id="top-bar-social" class="clr top-bar-centered">
				<ul class="clr" aria-label="Social links">
					<li class="oceanwp-twitter">
						<a href="https://twitter.com/spartanboosting" aria-label="Twitter (opens in a new tab)" target="_blank" rel="noopener noreferrer">
							<span class="fab fa-twitter" aria-hidden="true"></span>
						</a>
					</li>
					<li class="oceanwp-facebook">
						<a href="https://www.facebook.com/spartanboosting" aria-label="Facebook (opens in a new tab)" target="_blank" rel="noopener noreferrer">
							<span class="fab fa-facebook" aria-hidden="true"></span>
						</a>
					</li>
					<li class="oceanwp-instagram">
						<a href="https://www.instagram.com/spartanboosting" aria-label="Instagram (opens in a new tab)" target="_blank" rel="noopener noreferrer">
							<span class="fab fa-instagram" aria-hidden="true"></span>
						</a>
					</li>
					<li class="oceanwp-youtube">
						<a href="https://www.youtube.com/spartanboosting" aria-label="Youtube (opens in a new tab)" target="_blank" rel="noopener noreferrer">
							<span class="fab fa-youtube" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- #top-bar-social -->
		</div>
		<!-- #top-bar-inner -->
	</div>
	<!-- #top-bar -->
</div>