	<div id="site-navigation-wrap" class="no-top-border clr">
		<nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">
			<ul id="menu-my-site-navigation" class="main-menu dropdown-menu sf-menu" style="position: static;display: block;background-color: inherit;">
				<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-45">
					<a href="~/" class="menu-link">
						<span class="text-wrap">Home</span>
					</a>
				</li>
				<li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-46">
					<a href="~/lolboosting/soloboosting" class="menu-link">
						<span class="text-wrap">
							LoL Boosting <span class="nav-arrow fa fa-angle-down"></span>
						</span>
					</a>
					<ul class="sub-menu">
						<li id="menu-item-1635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1635">
							<a href="~/lolboosting/soloboosting" class="menu-link">
								<span class="text-wrap">Solo Boost</span>
							</a>
						</li>
						<li id="menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1636">
							<a href="~/lolboosting/duoboosting" class="menu-link">
								<span class="text-wrap">Duo Boost</span>
							</a>
						</li>
						<li id="menu-item-1637" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1637">
							<a href="~/lolboosting/winboosting" class="menu-link">
								<span class="text-wrap">Win Boost</span>
							</a>
						</li>
						<li id="menu-item-1638" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1638">
							<a href="~/lolboosting/PlacementMatches" class="menu-link">
								<span class="text-wrap">Placement Matches</span>
							</a>
						</li>
					</ul>
				</li>
				<li id="menu-item-1639" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1639">
					<a href="~/TFTBoosting/TFTSoloBoost" class="menu-link">
						<span class="text-wrap">
							TFT Boosting <span class="nav-arrow fa fa-angle-down"></span>
						</span>
					</a>
					<ul class="sub-menu">
						<li id="menu-item-1640" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1640">
							<a href="~/TFTBoosting/TFTSoloBoost" class="menu-link">
								<span class="text-wrap">TFT Solo Boost</span>
							</a>
						</li>
						<li id="menu-item-1643" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1643">
							<a href="~/TFTBoosting/TFTPlacementMatches" class="menu-link">
								<span class="text-wrap">TFT Placement Matches</span>
							</a>
						</li>
					</ul>
				</li>
				<li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47">
					<a href="~/Coaching/Coaching" class="menu-link">
						<span class="text-wrap">Coaching</span>
					</a>
				</li>
				<li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48">
					<a href="https://spartanboosting.com/join-the-team/" class="menu-link">
						<span class="text-wrap">Join The Team</span>
					</a>
				</li>
				<li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
					<a href="https://spartanboosting.com/price-beat-guarantee/" class="menu-link">
						<span class="text-wrap">Price Beat Guarantee</span>
					</a>
				</li>
				<li id="menu-item-545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545">
					<a href="https://spartanboosting.com/terms-of-service/" class="menu-link">
						<span class="text-wrap">Terms of Service</span>
					</a>
				</li>
				<li id="menu-item-544" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-544">
					<a href="https://spartanboosting.com/FAQ/" class="menu-link">
						<span class="text-wrap">FAQ</span>
					</a>
				</li>
				<li id="menu-item-546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-546">
					<a href="https://spartanboosting.com/contact-us/" class="menu-link">
						<span class="text-wrap">Contact Us</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- #site-navigation -->
	</div>

