
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
    <link href="~/css/BoosterPanel.css" rel="stylesheet" />
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-6 py-lg-8  subheader-transparent " id="kt_subheader">
            <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">

                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">
                            Order #ORDERNUMBER
                        </h5>
                        <!--end::Page Title-->

                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
                <!--begin::Toolbar-->
                <div class="d-flex align-items-center">
                    <!--begin::Daterange-->
                    <a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="top">
                        <span class="opacity-60 font-weight-bolder mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
                        <span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
                    </a>
                    <!--end::Daterange-->
                </div>
                <!--end::Toolbar-->
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::Dashboard-->
                <!--begin::Row-->
                <div class="row">
                    <div class="col-lg-6">
                        <!--begin::Tables Widget 1-->
                        <div class="card card-custom card-stretch gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-7">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder font-size-h4 text-dark-75">Boost Progress:</span>
                                </h3>
                                <div class="card-toolbar">

                                </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-1 pb-4">
                                <div class="tab-content mt-5" id="myTabTable1">
                                    <!--begin::Tap pane-->
                                    <div class="tab-pane fade show active" id="kt_tab_table_1_1" role="tabpanel" aria-labelledby="kt_tab_table_1_1">
                                        <!--begin::Table-->
                                        <div class="text-center">
                                            <div class="row">
                                                <div class="rank">
                                                    <span class="card-title pr-title font-weight-bolder">Start</span><br>
                                                    <img src="~/img/Lol Ranks/bronzei.png" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Silver I" data-original-title="" title="">
                                                </div>

                                                <div class="rank current">
                                                    <span class="card-title pr-title font-weight-bolder">Current</span><br>
                                                    <img src="~/img/Lol Ranks/goldiv.png" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gold 4 (  				0 LP 			 ) " data-original-title="" title="">
                                                </div>

                                                <div class="rank">
                                                    <span class="card-title pr-title font-weight-bolder">Desired</span><br>
                                                    <img src="~/img/Lol Ranks/goldiv.png" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gold IV" data-original-title="" title="">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="text-center">
                                                <p class="card-text card-label">Boost Is Being Completed By The Booster</p>
                                            </div>

                                        </div>
                                        <!--end::Tablet-->
                                    </div>
                                    <!--end::Tap pane-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Tables Widget 1-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <!--begin::Tables Widget 1-->
                        <div class="card card-custom card-stretch gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-7">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder font-size-h4 text-dark-75">Boost Informations:</span>
                                </h3>
                                <div class="card-toolbar">

                                </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-1 pb-4">
                                <div class="tab-content mt-5" id="myTabTable1">
                                    <!--begin::Tap pane-->
                                    <div class="tab-pane fade show active" id="kt_tab_table_1_1" role="tabpanel" aria-labelledby="kt_tab_table_1_1">
                                        <!--begin::Table-->
                                        <div class="card-body pr-body">
                                            <p class="card-title pr-title font-weight-bolder">
                                                Division Boost :
                                                <span class="card-title pr-title font-weight-bold-900">Silver I (61-80) <i class="fas fa-angle-right"></i> Gold IV</span>
                                            </p>
                                            <p class="card-title pr-title font-weight-bolder">
                                                Region :
                                                <span class="card-title pr-title font-weight-bold-900">North America</span>
                                            </p>
                                            <p class="card-title pr-title font-weight-bolder">
                                                Queue :
                                                <span class="card-title pr-title font-weight-bold-900">Ranked Solo/Duo</span>
                                            </p>
                                            <p class="card-title pr-title font-weight-bolder">
                                                Boost Priority :
                                                <span class="card-title pr-title font-weight-bold-900">Priority</span>
                                            </p>
                                            <p class="card-title pr-title font-weight-bolder">
                                                Duo Type :
                                                <span class="card-title pr-title font-weight-bold-900">Premium</span>
                                            </p>
                                        </div>
                                        <!--end::Tablet-->
                                    </div>
                                    <!--end::Tap pane-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Tables Widget 1-->
                    </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>

