.elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-container {
	min-height: 900px;
}

	.elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-container:after {
		content: "";
		min-height: inherit;
	}

.elementor-237 .elementor-element.elementor-element-ac90c1e:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url('../img/spirit-blossom-thresh-lol-splash-art-uhdpaper.com-hd-3.2287.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-background-overlay {
	opacity: 0.61;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-ac90c1e .elementor-background-overlay {
	filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-237 .elementor-element.elementor-element-ac90c1e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-237 .elementor-element.elementor-element-59b0a2e.elementor-column .elementor-column-wrap {
	align-items: flex-end;
}

.elementor-237 .elementor-element.elementor-element-59b0a2e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-237 .elementor-element.elementor-element-59b0a2e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-237 .elementor-element.elementor-element-59b0a2e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 10px;
}

.elementor-237 .elementor-element.elementor-element-04570fe {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-04570fe .elementor-heading-title {
		color: #FFFFFF;
		font-family: "Philosopher", muli;
		font-size: 32px;
		text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.86);
	}

	.elementor-237 .elementor-element.elementor-element-04570fe > .elementor-widget-container {
		padding: 275px 0px 0px 0px;
	}

.elementor-237 .elementor-element.elementor-element-3b07600 {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-3b07600 .elementor-heading-title {
		color: #FFFFFF;
		font-family: "Philosopher", muli;
		font-size: 59px;
		letter-spacing: 10px;
		text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.87);
	}

.elementor-237 .elementor-element.elementor-element-716d453 .elementor-button .elementor-align-icon-right {
	margin-left: 5px;
}

.elementor-237 .elementor-element.elementor-element-716d453 .elementor-button .elementor-align-icon-left {
	margin-right: 5px;
}

.elementor-237 .elementor-element.elementor-element-716d453 .elementor-button {
	font-family: "Open Sans", muli;
	font-size: 14px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #1798CF;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #1798CF;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.8);
	padding: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-716d453 .elementor-button:hover, .elementor-237 .elementor-element.elementor-element-716d453 .elementor-button:focus {
		background-color: rgba(23, 152, 207, 0.66);
		border-color: #1798CF;
	}

.elementor-237 .elementor-element.elementor-element-716d453 > .elementor-widget-container {
	padding: 30px 30px 30px 30px;
}

.elementor-237 .elementor-element.elementor-element-289d2fc {
	margin-top: -180px;
	margin-bottom: 0px;
	padding: 0px 10px 0px 10px;
}

.elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px;
}

.elementor-237 .elementor-element.elementor-element-56192c7:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-56192c7:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-56192c7:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-56192c7 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0s, border-radius 0.3s, opacity 0s;
}

.elementor-237 .elementor-element.elementor-element-8d5c58f {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-8d5c58f > .elementor-widget-container {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-054e1bc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-054e1bc:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-054e1bc:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-054e1bc > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-7fe6bfa {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-36eac88:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-36eac88:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-36eac88:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-36eac88 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-ae567ad {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-d237041:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-d237041 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-d237041 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-d237041 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-d237041 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-d237041 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-d237041:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-d237041:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-d237041 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-a684585 {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-a1857f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-a1857f1:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-a1857f1:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-a1857f1 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-9f0d0d2 {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-9f0d0d2 .elementor-image img {
		filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
	}

.elementor-237 .elementor-element.elementor-element-7d055e0:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-7d055e0:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-7d055e0:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-7d055e0 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-9394ff5 {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-d659629:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-d659629 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-d659629 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-d659629 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-d659629 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-d659629 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-d659629:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-d659629:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-d659629 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-834dec7 {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-6e2e212:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

.elementor-237 .elementor-element.elementor-element-6e2e212:hover > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-6e2e212:hover > .elementor-element-populated > .elementor-background-overlay {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-6e2e212 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-d403bc7 {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-fb56566:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: rgba(19, 22, 25, 0.47843137254901963);
}

.elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
}

	.elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-element-populated, .elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-element-populated > .elementor-background-overlay, .elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-background-slideshow {
		border-radius: 10px 10px 10px 10px;
	}

		.elementor-237 .elementor-element.elementor-element-fb56566 > .elementor-element-populated > .elementor-background-overlay {
			transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
		}

.elementor-237 .elementor-element.elementor-element-4131fc4 {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-7b0cd83 .elementor-text-editor {
	text-align: center;
}

.elementor-237 .elementor-element.elementor-element-7b0cd83 {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-6b85c50 > .elementor-container {
	min-height: 650px;
}

	.elementor-237 .elementor-element.elementor-element-6b85c50 > .elementor-container:after {
		content: "";
		min-height: inherit;
	}

.elementor-237 .elementor-element.elementor-element-6b85c50:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-6b85c50 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../img/wordpress icons/about-bg.jpg");
	background-image: url('../img/wordpress icons/about-bg.jpg');
	background-position: top center;
	background-size: cover;
}

.elementor-237 .elementor-element.elementor-element-6b85c50 > .elementor-background-overlay {
	background-color: #131619;
	opacity: 0.3;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-6b85c50 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 10px 20px 10px;
}

.elementor-237 .elementor-element.elementor-element-c51dd01 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

	.elementor-237 .elementor-element.elementor-element-c51dd01 > .elementor-element-populated > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-container {
	height: 780px;
}

.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container {
	background-color: rgba(19, 22, 25, 0.74);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container {
	background-color: rgba(19, 22, 25, 0.9294117647058824);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container, .elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image i {
		color: #FD941F;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image img.eael-flipbox-svg-icon {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image i {
		color: #fff;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image img {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container .eael-elements-flip-box-heading {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-front-container .eael-elements-flip-box-content {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container .eael-elements-flip-box-heading {
		color: #C3C3C3;
	}

	.elementor-237 .elementor-element.elementor-element-9a5735f .eael-elements-flip-box-rear-container .eael-elements-flip-box-content {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 16px;
	}

.elementor-237 .elementor-element.elementor-element-9a5735f > .elementor-widget-container {
	background-image: url("../img/wordpress icons/assassin.png");
	background-position: center center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-237 .elementor-element.elementor-element-9a5735f:hover .elementor-widget-container {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FD941F;
	box-shadow: 0px 0px 10px 0px rgba(253, 148, 31, 0.65);
}

.elementor-237 .elementor-element.elementor-element-9a5735f:hover > .elementor-widget-container {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-container {
	height: 780px;
}

.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container {
	background-color: rgba(19, 22, 25, 0.7411764705882353);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container {
	background-color: rgba(19, 22, 25, 0.9294117647058824);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container, .elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image i {
		color: #FD941F;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image img.eael-flipbox-svg-icon {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image i {
		color: #fff;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image img {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container .eael-elements-flip-box-heading {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-front-container .eael-elements-flip-box-content {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container .eael-elements-flip-box-heading {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-6070a8a .eael-elements-flip-box-rear-container .eael-elements-flip-box-content {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 16px;
	}

.elementor-237 .elementor-element.elementor-element-6070a8a > .elementor-widget-container {
	background-image: url("../img/wordpress icons/assassin-two.png");
	background-position: center center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-237 .elementor-element.elementor-element-6070a8a:hover .elementor-widget-container {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FD941F;
	box-shadow: 0px 0px 10px 0px rgba(253, 148, 31, 0.65);
}

.elementor-237 .elementor-element.elementor-element-6070a8a:hover > .elementor-widget-container {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-container {
	height: 780px;
}

.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container {
	background-color: rgba(19, 22, 25, 0.7411764705882353);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container {
	background-color: rgba(19, 22, 25, 0.9294117647058824);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container, .elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image i {
		color: #FD941F;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image img.eael-flipbox-svg-icon {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image i {
		color: #fff;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image img {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container .eael-elements-flip-box-heading {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-front-container .eael-elements-flip-box-content {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container .eael-elements-flip-box-heading {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-e1392ca .eael-elements-flip-box-rear-container .eael-elements-flip-box-content {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 16px;
	}

.elementor-237 .elementor-element.elementor-element-e1392ca > .elementor-widget-container {
	background-image: url("../img/wordpress icons/assassin-three.png");
	background-position: center center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-237 .elementor-element.elementor-element-e1392ca:hover .elementor-widget-container {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FD941F;
	box-shadow: 0px 0px 10px 0px rgba(253, 148, 31, 0.65);
}

.elementor-237 .elementor-element.elementor-element-e1392ca:hover > .elementor-widget-container {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-container {
	height: 780px;
}

.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container {
	background-color: rgba(19, 22, 25, 0.7411764705882353);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container {
	background-color: rgba(19, 22, 25, 0.9294117647058824);
	padding: 20px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container, .elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image i {
		color: #FD941F;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image img.eael-flipbox-svg-icon {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container .eael-elements-flip-box-icon-image {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image i {
		color: #fff;
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container .eael-elements-flip-box-icon-image img {
		width: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container .eael-elements-flip-box-heading {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-front-container .eael-elements-flip-box-content {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container .eael-elements-flip-box-heading {
		color: #fff;
	}

	.elementor-237 .elementor-element.elementor-element-79e1709 .eael-elements-flip-box-rear-container .eael-elements-flip-box-content {
		color: #C3C3C3;
		font-family: "Open Sans", muli;
		font-size: 16px;
	}

.elementor-237 .elementor-element.elementor-element-79e1709 > .elementor-widget-container {
	background-image: url("../img/wordpress icons/assassin-four.png");
	background-position: center center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-237 .elementor-element.elementor-element-79e1709:hover .elementor-widget-container {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FD941F;
	box-shadow: 0px 0px 10px 0px rgba(253, 148, 31, 0.65);
}

.elementor-237 .elementor-element.elementor-element-79e1709:hover > .elementor-widget-container {
	border-radius: 10px 10px 10px 10px;
}

.elementor-237 .elementor-element.elementor-element-2b56bc2 > .elementor-container {
	min-height: 350px;
}

	.elementor-237 .elementor-element.elementor-element-2b56bc2 > .elementor-container:after {
		content: "";
		min-height: inherit;
	}

.elementor-237 .elementor-element.elementor-element-2b56bc2 > .elementor-background-overlay {
	opacity: 0;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-2b56bc2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 10px 20px 10px;
}

.elementor-237 .elementor-element.elementor-element-330d695 {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-330d695 .elementor-heading-title {
		color: #FD941F;
		font-family: "Open Sans", muli;
		font-size: 34px;
		letter-spacing: 3px;
		text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	}

.elementor-237 .elementor-element.elementor-element-7dc0321 {
	--divider-border-style: solid;
	--divider-border-color: #1798CF;
	--divider-border-width: 2px;
}

	.elementor-237 .elementor-element.elementor-element-7dc0321 .elementor-divider-separator {
		width: 15%;
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-237 .elementor-element.elementor-element-7dc0321 .elementor-divider {
		text-align: center;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.elementor-237 .elementor-element.elementor-element-7dc0321 > .elementor-widget-container {
		padding: 0px 0px 20px 0px;
	}

.elementor-237 .elementor-element.elementor-element-6e94cd1 > .elementor-container {
	min-height: 350px;
}

	.elementor-237 .elementor-element.elementor-element-6e94cd1 > .elementor-container:after {
		content: "";
		min-height: inherit;
	}

.elementor-237 .elementor-element.elementor-element-6e94cd1:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-6e94cd1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../img/wordpress icons/testimonials-bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-237 .elementor-element.elementor-element-6e94cd1 > .elementor-background-overlay {
	background-color: #131619;
	opacity: 0.75;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-6e94cd1 {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #131619;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 10px 20px 10px;
}

.elementor-237 .elementor-element.elementor-element-547e6f8 {
	text-align: center;
}

	.elementor-237 .elementor-element.elementor-element-547e6f8 .elementor-heading-title {
		color: #FD941F;
		font-family: "Open Sans", muli;
		font-size: 34px;
		letter-spacing: 3px;
		text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	}

	.elementor-237 .elementor-element.elementor-element-547e6f8 > .elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

.elementor-237 .elementor-element.elementor-element-b84954a {
	--divider-border-style: solid;
	--divider-border-color: #1798CF;
	--divider-border-width: 2px;
}

	.elementor-237 .elementor-element.elementor-element-b84954a .elementor-divider-separator {
		width: 15%;
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-237 .elementor-element.elementor-element-b84954a .elementor-divider {
		text-align: center;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.elementor-237 .elementor-element.elementor-element-b84954a > .elementor-widget-container {
		padding: 0px 0px 20px 0px;
	}

.elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-container {
	min-height: 350px;
}

	.elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-container:after {
		content: "";
		min-height: inherit;
	}

.elementor-237 .elementor-element.elementor-element-0b30647:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("../img/wordpress icons/webstats-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-background-overlay {
	background-color: #131619;
	opacity: 0.7;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-237 .elementor-element.elementor-element-0b30647 {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #131619;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 10px 20px 10px;
}

	.elementor-237 .elementor-element.elementor-element-0b30647, .elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-background-overlay {
		border-radius: 1px 0px 1px 0px;
	}

.elementor-237 .elementor-element.elementor-element-bfe54dd > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-cba0a0e .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-cba0a0e .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-39c35f1 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-5e9a398 .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-5e9a398 .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-8b9a0a1 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-e21ff29 .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-e21ff29 .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-6eba39b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-61d5cfc .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-61d5cfc .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-dfdbdec > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-7d54704 .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-7d54704 .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

.elementor-237 .elementor-element.elementor-element-913ccde > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-237 .elementor-element.elementor-element-bfb663e .elementor-counter-number-wrapper {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 5px;
}

.elementor-237 .elementor-element.elementor-element-bfb663e .elementor-counter-title {
	color: #C3C3C3;
	font-family: "Open Sans", muli;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 3px;
}

@media(max-width:1024px) {
	.elementor-237 .elementor-element.elementor-element-ac90c1e:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: 100% 100%;
	}

	.elementor-237 .elementor-element.elementor-element-04570fe .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-237 .elementor-element.elementor-element-04570fe > .elementor-widget-container {
		padding: 150px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-237 .elementor-element.elementor-element-ac90c1e:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-ac90c1e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center center;
		background-size: 100% 100%;
	}

	.elementor-237 .elementor-element.elementor-element-04570fe .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-237 .elementor-element.elementor-element-04570fe > .elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-237 .elementor-element.elementor-element-3b07600 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-237 .elementor-element.elementor-element-56192c7 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-054e1bc {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-36eac88 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-d237041 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-a1857f1 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-7d055e0 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-d659629 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-6e2e212 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-7dc0321 .elementor-divider {
		text-align: center;
	}

	.elementor-237 .elementor-element.elementor-element-7dc0321 .elementor-divider-separator {
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-237 .elementor-element.elementor-element-4fda03f > .elementor-widget-container {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-b84954a .elementor-divider {
		text-align: center;
	}

	.elementor-237 .elementor-element.elementor-element-b84954a .elementor-divider-separator {
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-237 .elementor-element.elementor-element-0d746aa > .elementor-widget-container {
		padding: 20px 20px 20px 20px;
	}

	.elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-container {
		min-height: 0px;
	}

		.elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-container:after {
			content: "";
			min-height: inherit;
		}

	.elementor-237 .elementor-element.elementor-element-0b30647:not(.elementor-motion-effects-element-type-background), .elementor-237 .elementor-element.elementor-element-0b30647 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-size: cover;
	}

	.elementor-237 .elementor-element.elementor-element-cba0a0e .elementor-counter-number-wrapper {
		font-size: 50px;
	}

	.elementor-237 .elementor-element.elementor-element-5e9a398 .elementor-counter-number-wrapper {
		font-size: 50px;
	}

	.elementor-237 .elementor-element.elementor-element-e21ff29 .elementor-counter-number-wrapper {
		font-size: 50px;
	}

	.elementor-237 .elementor-element.elementor-element-61d5cfc .elementor-counter-number-wrapper {
		font-size: 50px;
	}

	.elementor-237 .elementor-element.elementor-element-7d54704 .elementor-counter-number-wrapper {
		font-size: 50px;
	}

	.elementor-237 .elementor-element.elementor-element-bfb663e .elementor-counter-number-wrapper {
		font-size: 50px;
	}
}

@media(min-width:768px) {
	.elementor-237 .elementor-element.elementor-element-59b0a2e {
		width: 100%;
	}

	.elementor-237 .elementor-element.elementor-element-bfe54dd {
		width: 15%;
	}

	.elementor-237 .elementor-element.elementor-element-39c35f1 {
		width: 15%;
	}

	.elementor-237 .elementor-element.elementor-element-8b9a0a1 {
		width: 15%;
	}

	.elementor-237 .elementor-element.elementor-element-6eba39b {
		width: 25%;
	}

	.elementor-237 .elementor-element.elementor-element-dfdbdec {
		width: 15%;
	}

	.elementor-237 .elementor-element.elementor-element-913ccde {
		width: 13.66%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-237 .elementor-element.elementor-element-56192c7 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-054e1bc {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-36eac88 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-d237041 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-a1857f1 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-7d055e0 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-d659629 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-6e2e212 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-fb56566 {
		width: 33.3%;
	}

	.elementor-237 .elementor-element.elementor-element-c51dd01 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-336e936 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-a6e6159 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-ed3caef {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-bfe54dd {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-39c35f1 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-8b9a0a1 {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-6eba39b {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-dfdbdec {
		width: 50%;
	}

	.elementor-237 .elementor-element.elementor-element-913ccde {
		width: 50%;
	}
}
