
.apply-discount-btn {
	margin-top: 16px !important;
	margin-left: 0 !important;
	font-size: 14px !important;
	width: 25% !important;
	background-color: rgba(23,152,207,1) !important;
	border-radius: 10px !important;
	font-family: inherit;
	background-color: #13aff0;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	padding: 14px 20px !important;
	border: 0;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.proceed-checkout-btn {
	margin-top: 16px !important;
	margin-left: 0 !important;
	font-size: 14px !important;
	width: 25% !important;
	background-color: #fd941f;
	border-radius: 10px !important;
	font-family: inherit;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	padding: 14px 20px !important;
	border: 0;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.total-label {
	color: #c3c3c3;
	font-weight: 600 !important;
	font-size: 24px !important;
	display: inline-block;
	line-height: 1.3;
	clear: both;
	margin-bottom: 3px;
	box-sizing: border-box !important;
}

.ginput_total.ginput_total_10 {
	font-weight: 600 !important;
	font-size: 65px !important;
	color: #fd941f !important;
}

.elementor-widget-heading .elementor-heading-title.price-beat-header {
	color: #FD941F;
	font-family: "Open Sans", muli;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.terms-of-service p {
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	line-height: 1.8;
	padding: 0;
	border: 0;
	outline: 0;
	color: #C3C3C3;
	margin: 0 0 20px;
	vertical-align: baseline;
}

.terms-of-service ul {
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	line-height: 1.8;
	padding: 0;
	border: 0;
	outline: 0;
	color: #C3C3C3;
	vertical-align: baseline;
	margin: 15px 0 15px 20px;
}

h3 {
	font-weight: 600;
	margin: 0 0 20px;
	line-height: 1.4;
}

.faq-card {
	margin-bottom: 10px;
	border-radius: 3px;
	background: rgba(19,22,25,0.8);
	border: 1px solid #c3c3c3;
}
.card.card-body.faq-card-body {
	border: 1px solid transparent;
	background-color: transparent;
}

.faq-toggle-text, .faq-toggle-text:hover {
	font-size: 18px !important;
	font-weight: 600;
	display: block;
	text-decoration: none;
	cursor: pointer;
	line-height: 30px;
	color: #1798cf;
	padding: 15px;
}

.wpforms-required-label, .gfield_required {
	color: #ff0000;
	font-weight: 400;
	font-size: large !important;
}