@using SpartanBoosting.Models.Adhoc
@model ContactUsModel
@{
	ViewData["Title"] = "ContactUs";
}

<div class="nk-main">

	<div class="nk-box">
		<div class="container">
			<div class="nk-gap-5"></div>
			<h1 class="nk-title">Contact US</h1>
			<div class="nk-gap-4"></div>
		</div>
	</div>

	<div class="nk-gap-4"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="nk-box-3 bg-dark-1">
					<h2 class="nk-title h3 text-center">
						If you have any questions regarding our service and more. We will gladly help and will reply instantly.
					</h2>
					<div class="nk-gap-2"></div>
					<form asp-action="SubmitContactUs" role="form" asp-controller="Adhoc" asp-antiforgery="true"
						  data-ajax-success="Bindgrid"
						  data-ajax="true"
						  data-ajax-method="POST" data-pricing="ContactUs" class="wpforms-validate wpforms-form wpforms-ajax-form">
						<input type="email" class="form-control required" name="YourEmail" id="your-email" asp-for="YourEmail" placeholder="Email *">
						<div class="nk-gap-1"></div>
						<input type="text" class="form-control required" name="YourName" id="your-name" asp-for="YourName" id="name" placeholder="Name *">
						<div class="nk-gap-1"></div>
<textarea class="form-control required" asp-for="Message" id="your-message" name="Message" rows="5" placeholder="Message *"></textarea>
						<div class="nk-gap-1"></div>
						<div class="nk-form-response-success"></div>
						<div class="nk-form-response-error"></div>
						<button id="submit-contact-form" type="submit" class="nk-btn nk-btn-lg link-effect-4 ready proceed-checkout-btn"><span class="link-effect-inner"><span class="link-effect-l"><span>Send</span></span><span class="link-effect-r"><span>Send</span></span><span class="link-effect-shade"><span>Send</span></span></span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="nk-gap-2"></div>
	<div class="nk-gap-4"></div>
	<div class="nk-gap-6"></div>



</div>