@{
	Layout = "/Views/Shared/_MainPageLayout.cshtml"; ;
}<div class="container ">
	<div class="row vertical-gap">
		<div class="col-md-12">
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-1-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">  How does boosting work?  </a>
					</div>
					<div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-1-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p> Various games have different boosting processes but the core idea remains the same. When purchasing a boost, a boosting order is created in our system and a professional player employed by our company gets assigned to complete it. To complete the goal of a specific boost, the professional booster will use its experience and skill advantage.</p>
							</div>
						</div>

						<div class="nk-gap-1"></div>
					</div>
				</div>

			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-2-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-2" aria-expanded="true" aria-controls="accordion-1-2">  How fast is LoL Boosting?  </a>
					</div>
					<div id="accordion-1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-2-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									We typically climb an account 1-2 divisions per day when playing solo. If your accounts has good matchmaking rating, we often can push it up to 4 divisions in 24h after you’ve bought your LoL boost. With duo boosting we cannot give you any promises but if you’re as available as our players are, we can push you almost as fast as our solo boosts!
								</p>
							</div>
						</div>

						<div class="nk-gap-1"></div>
					</div>
				</div>

			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-3-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-3" aria-expanded="true" aria-controls="accordion-1-3">  I have made a mistake in my order!  </a>
					</div>
					<div id="accordion-1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-3-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									If you wish to edit your preferences, refund or simply choose a different type of boost let us know in the live chat in the bottom right corner or simply e-mail us.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-4-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-4" aria-expanded="true" aria-controls="accordion-1-4">  Can I play on the account when you are boosting?  </a>
					</div>
					<div id="accordion-1-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-4-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									You may but we very strongly suggest against it as it makes the boosting process unsecure and distracts our boosters from completing our service as soon as possible.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-5-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-5" aria-expanded="true" aria-controls="accordion-1-5">
							How can I register on the site?
						</a>
					</div>
					<div id="accordion-1-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-5-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Your account will be created as soon as you have made your first purchase! You will receive an automatic e-mail on the address which you have chosen inserted in the order form with your username and password. You will also be receiving all notifications of the boosting process on the same e-mail.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-6-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-6" aria-expanded="true" aria-controls="accordion-1-6">
							I haven’t recieved my order yet!
						</a>
					</div>
					<div id="accordion-1-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-6-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Your order is currently being processed. We accept all orders usually within 30 – 180 minutes. If you have not received a confirmation within 8 hours, please contact our support!
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-7-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-7" aria-expanded="true" aria-controls="accordion-1-7">
							What are your payment options?
						</a>
					</div>
					<div id="accordion-1-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-7-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									We accept all payment methods! If you wish to fulfill your order with either Skrill / Bitcoin / Paysafecard / Amazon Gift Cards / Western Union you have to order via our live customer support or e-mail us!
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-8-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-8" aria-expanded="true" aria-controls="accordion-1-8">
							What makes us different?
						</a>
					</div>
					<div id="accordion-1-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-8-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Unlike other services, we do not hire random boosters who are susceptible to scripting / cheating / unprofessional behavior. We have built a professional team of only Challenger & tournament players in every region in the world over 5 years who follow our code of conduct and respect our customers.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-9-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-9" aria-expanded="true" aria-controls="accordion-1-9">
							Do you offer any discounts?
						</a>
					</div>
					<div id="accordion-1-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-9-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Yes, we offer discounts in every form! If you increase the size of your order, we will also add extra discount % for your order. We also have boosting packs with discounts up to 25% for various types of boosts and leagues.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
		</div>
	</div>
</div>
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
	<img class="nk-footer-top-corner" src="Client/assets/images/footer-corner.png" alt="">
	<div class="container">

	</div>
</footer>