@{
	Layout = "/Views/Shared/_MainPageLayout.cshtml"; ;
}<div class="container ">
	<div class="row vertical-gap">
		<div class="col-md-12">
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-1-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">  How Does "Boosting" Work  </a>
					</div>
					<div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-1-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p> We offer a service whereby our high ranking, professional boosters aid you in securing a higher rank whether this be by solo boosting and accessing your account directly or by duo boosting with your account on an account of their choosing. We're contactable through our LoL Boosting Discord or by e-mail, both of which can be found on the site.</p>
							</div>
						</div>

						<div class="nk-gap-1"></div>
					</div>
				</div>

			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-2-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-2" aria-expanded="true" aria-controls="accordion-1-2">  How Fast Will My Boost Be?  </a>
					</div>
					<div id="accordion-1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-2-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Typically we aim to climb an account by 1 division a day if the boost purchased is solo and below Diamond IV. If your account has good LP gain we often can push it up to 2 divisions within a 24 hour period below Diamond IV. For duo boosts, the progress is dependent on your availability in combination with our boosting team and will vary on a case by case basis.
								</p>
							</div>
						</div>

						<div class="nk-gap-1"></div>
					</div>
				</div>

			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-3-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-3" aria-expanded="true" aria-controls="accordion-1-3">  Help, I've Made A Mistake On My Order!  </a>
					</div>
					<div id="accordion-1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-3-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Absolutely fine and easily fixed! Please contact is through our LoL Boosting Discord server or via e-mail and we'll be in touch as quick as we can.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-4-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-4" aria-expanded="true" aria-controls="accordion-1-4">  Can I Play On My Account Whilst You're Boosting?  </a>
					</div>
					<div id="accordion-1-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-4-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									You may, but under absolutely no circumstance should this be in the League of Legends ranked queue that you have purchased your boost for. As an example, if you have purchased a solo/duo queue boost then you should not play any ranked games in this queue type until the boost is finished. Please be sure to check in with a member of the Spartan Boosting team and/or check op.gg prior to doing this to ensure the booster is not on/planning on playing on the account imminently.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-6-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-6" aria-expanded="true" aria-controls="accordion-1-6">
							How Long Will It Take For My Order To Start?
						</a>
					</div>
					<div id="accordion-1-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-6-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									Typically your order will be picked up by a member of our boosting team within 1-2 hours of the order being placed. If you have not seen any progress take place within 24 hours of an order being placed please contact us through our LoL Boosting Discord Server and we'll be happy to take a look in to things for you.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-7-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-7" aria-expanded="true" aria-controls="accordion-1-7">
							What Are Your Payment Options?
						</a>
					</div>
					<div id="accordion-1-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-7-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									We currently accept Paypal and Bank Card payments through our online payment process. If you would like to explore additional payment options please contact us through our LoL Boosting Discord Server. Please note, we do not accept payment by way of in game accounts.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-8-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-8" aria-expanded="true" aria-controls="accordion-1-8">
							Why Choose Us?
						</a>
					</div>
					<div id="accordion-1-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-8-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									We employ only the top 1% of boosters in the games we currently have services for who are extensively screened to ensure no scripting/cheating/unprofessional behaviour occurs and to guarantee an exemplary service. Should anything untoward happen, disciplinary action will be taken and you will be compensated accordingly.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-9-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-9" aria-expanded="true" aria-controls="accordion-1-9">
							Do You Offer Discounts?
						</a>
					</div>
					<div id="accordion-1-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-9-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p>
									The only discounts currently available will be found on platforms and services where we are currently advertising.
								</p>
							</div>
						</div>
						<div class="nk-gap-1"></div>
					</div>
				</div>
			</div>
			<!-- END: Accordion 1 -->
		</div>
	</div>
</div>
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
	<img class="nk-footer-top-corner" src="Client/assets/images/footer-corner.png" alt="">
	<div class="container">

	</div>
</footer>