@{
	Layout = "/Views/Shared/_MainPageLayout.cshtml"; ;
}<div class="container ">
	<div class="row vertical-gap">
		<div class="col-md-12">
			<!-- START: Accordion 1 -->
			<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="accordion-1-1-heading">
						<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">  How does boosting work?  </a>
					</div>
					<div id="accordion-1-1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="accordion-1-1-heading">
						<div class="nk-gap-1"></div>
						<div class="col-md-12">
							<div class="nk-counter-2">
								<div class="nk-gap"></div>
								<p> Various games have different boosting processes but the core idea remains the same. When purchasing a boost, a boosting order is created in our system and a professional player employed by our company gets assigned to complete it. To complete the goal of a specific boost, the professional booster will use its experience and skill advantage.</p>
							</div>
						</div>
						
						<div class="nk-gap-1"></div>
					</div>
				</div>

			</div>
			<!-- END: Accordion 1 -->
		</div>
	</div>
</div>
 <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
 	<img class="nk-footer-top-corner" src="Client/assets/images/footer-corner.png" alt="">
 	<div class="container">

 	</div>
 </footer>