
@{
	ViewData["Title"] = "FAQ";
}
<head>

	<meta charset="UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Spartan Boosting &#8211;Boosting and Coaching Service for League of Legends</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css"></style>
	<link href="~/css/PostCopy.css" rel="stylesheet" />
	<link href="~/css/wpforms-full.css.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
</head>
<div data-elementor-type="wp-page" data-elementor-id="3628" class="elementor elementor-3628" data-elementor-settings="[]">
	<div class="elementor-inner">
		<div class="elementor-section-wrap">
			<section class="elementor-element elementor-element-440f3f9 elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="440f3f9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;mountains&quot;}">
				<div class="elementor-shape elementor-shape-bottom" data-negative="false">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
						<path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
						<path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
						<path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
					</svg>
				</div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-841a541 elementor-column elementor-col-100 elementor-top-column" data-id="841a541" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-33c305c elementor-widget elementor-widget-heading animated fadeInDown" data-id="33c305c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h1 class="elementor-heading-title elementor-size-default">FAQ</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-baabb8d elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="baabb8d" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-c6f3b69 elementor-column elementor-col-100 elementor-top-column" data-id="c6f3b69" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-d34f6c6 elementor-widget elementor-widget-text-editor" data-id="d34f6c6" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container pb-4">
											<div class="elementor-text-editor elementor-clearfix">
											</div>
										</div>
										<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
											<a href="https://uk.trustpilot.com/review/spartanboosting.com" target="_blank" rel="noopener">Trustpilot</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-section-height-min-height elementor-element-5d457d5 elementor-section-items-top elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="5d457d5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-5442bf3 elementor-column elementor-col-100 elementor-top-column" data-id="5442bf3" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-bf1bae5 elementor-widget elementor-widget-heading" data-id="bf1bae5" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default price-beat-header">FREQUENTLY ASKED QUESTIONS</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-ff2caad elementor-widget elementor-widget-text-editor" data-id="ff2caad" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<div class="elementor-text-editor elementor-clearfix terms-of-service">
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
															How fast is LoL Boosting?
														</a>
													</h3>
													<div class="collapse" id="collapse1">
														<div class="card card-body faq-card-body">
															<p>
																We typically climb an account 1-2 divisions per day when playing solo. If your accounts has good matchmaking rating, we often can push it up to 4 divisions in 24h after you’ve bought your LoL boost. With duo boosting we cannot give you any promises but if you’re as available as our players are, we can push you almost as fast as our solo boosts!
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
															How does LoL Boosting work?
														</a>
													</h3>
													<div class="collapse" id="collapse2">
														<div class="card card-body faq-card-body">
															<p>
																It’s very simple – you pay, we play! Once you’ve chosen your current LoL elo, desired ranking, the server and made the payment; we’ll shortly log in with the details which you have given us and climb to the elo which you’ve requested us exactly how you’ve designed your LoL boost. You can follow your account’s progress through our member’s panel and if you have any questions or concerns, our customer support is online 24/7.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
															I have made a mistake in my order!
														</a>
													</h3>
													<div class="collapse" id="collapse3">
														<div class="card card-body faq-card-body">
															<p>
																If you wish to edit your preferences, refund or simply choose a different type of boost let us know in the live chat in the bottom right corner or simply e-mail us.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
															Can I play on the account when you are boosting?
														</a>
													</h3>
													<div class="collapse" id="collapse4">
														<div class="card card-body faq-card-body">
															<p>
																You may but we very strongly suggest against it as it makes the boosting process unsecure and distracts our boosters from completing our service as soon as possible.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
															How can I register on the site?
														</a>
													</h3>
													<div class="collapse" id="collapse5">
														<div class="card card-body faq-card-body">
															<p>
																Your account will be created as soon as you have made your first purchase! You will receive an automatic e-mail on the address which you have chosen inserted in the order form with your username and password. You will also be receiving all notifications of the boosting process on the same e-mail.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
															I haven’t recieved my order yet!
														</a>
													</h3>
													<div class="collapse" id="collapse6">
														<div class="card card-body faq-card-body">
															<p>
																Your order is currently being processed. We accept all orders usually within 30 – 180 minutes. If you have not received a confirmation within 8 hours, please contact our support!
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">
															What are your payment options?
														</a>
													</h3>
													<div class="collapse" id="collapse7">
														<div class="card card-body faq-card-body">
															<p>
																We accept all payment methods! If you wish to fulfill your order with either Skrill / Bitcoin / Paysafecard / Amazon Gift Cards / Western Union you have to order via our live customer support or e-mail us!
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false" aria-controls="collapse8">
															What makes us different?
														</a>
													</h3>
													<div class="collapse" id="collapse8">
														<div class="card card-body faq-card-body">
															<p>
																Unlike other services, we do not hire random boosters who are susceptible to scripting / cheating / unprofessional behavior. We have built a professional team of only Challenger & tournament players in every region in the world over 5 years who follow our code of conduct and respect our customers.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse9" role="button" aria-expanded="false" aria-controls="collapse9">
															Is league elo boosting safe?
														</a>
													</h3>
													<div class="collapse" id="collapse9">
														<div class="card card-body faq-card-body">
															<p>
																Very much so! While it is sometimes frowned upon, it is completely free of any risk of ban or restrictions. We have not received a single ban report from our customers within the last 4 years of our service after completing over 10,000 boosting orders. We are so confident in our ability to mask ourselves as the original player that we have 100% money-back guarantee insurance policy on every single order.
															</p>
														</div>
													</div>
												</div>
												<div class="faq-card">
													<h3>
														<a class="faq-toggle-text" data-toggle="collapse" href="#collapse10" role="button" aria-expanded="false" aria-controls="collapse10">
															Do you offer any discounts?
														</a>
													</h3>
													<div class="collapse" id="collapse10">
														<div class="card card-body faq-card-body">
															<p>
																Yes, we offer discounts in every form! If you increase the size of your order, we will also add extra discount % for your order. We also have boosting packs with discounts up to 25% for various types of boosts and leagues.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

