@using SpartanBoosting.Models.Adhoc
@model JoinTheTeamModel
@{
	ViewData["Title"] = "JoinTheTeam";
}

<head>

	<meta charset="UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Spartan Boosting &#8211;Boosting and Coaching Service for League of Legends</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css"></style>
	<link href="~/css/PostCopy.css" rel="stylesheet" />
	<link href="~/css/wpforms-full.css.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
</head>
<div data-elementor-type="wp-page" data-elementor-id="3628" class="elementor elementor-3628" data-elementor-settings="[]">
	<div class="elementor-inner">
		<div class="elementor-section-wrap">
			<section class="elementor-element elementor-element-440f3f9 elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="440f3f9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;mountains&quot;}">
				<div class="elementor-shape elementor-shape-bottom" data-negative="false">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
						<path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
						<path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
						<path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
					</svg>
				</div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-841a541 elementor-column elementor-col-100 elementor-top-column" data-id="841a541" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-33c305c elementor-widget elementor-widget-heading animated fadeInDown" data-id="33c305c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h1 class="elementor-heading-title elementor-size-default">Join The Team</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-baabb8d elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="baabb8d" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-c6f3b69 elementor-column elementor-col-100 elementor-top-column" data-id="c6f3b69" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-d34f6c6 elementor-widget elementor-widget-text-editor" data-id="d34f6c6" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container pb-4">
											<div class="elementor-text-editor elementor-clearfix">
												<h3>We are currently only looking for:</h3><p>–**– Master+ Boosters/Coaches for NA and OCE–**–</p><p>–**– Grandmaster+ Boosters/Coaches for EUW–**–</p>
												<h3>If you meet the above requirements, please fill out the form below and someone will be in touch within 24 hours.</h3><div>&nbsp;</div>
											</div>
										</div>
										<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
											<a href="https://uk.trustpilot.com/review/spartanboosting.com" target="_blank" rel="noopener">Trustpilot</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-5d457d5 elementor-section-height-min-height elementor-section-items-top elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="5d457d5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-5442bf3 elementor-column elementor-col-100 elementor-top-column" data-id="5442bf3" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-f27e73c eael-gravity-form-button-custom elementor-widget elementor-widget-eael-gravity-form" data-id="f27e73c" data-element_type="widget" data-widget_type="eael-gravity-form.default">
										<div class="elementor-widget-container">
											<div class="eael-contact-form eael-gravity-form title-description-hide eael-contact-form-align-default">
												<div class="eael-gravity-form-heading">
													<h3 class="eael-contact-form-title eael-gravity-form-title">
														APPLY TO JOIN THE SPARTAN BOOSTING TEAM
													</h3>
													<p style="color: green; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
														@TempData["Result"]
													</p>
												</div>
												<div class="wpforms-container wpforms-container-full wpforms-stripe coaching-form" id="wpforms-931">
													<form asp-action="SubmitJoinTheTeam" role="form" asp-controller="Adhoc" asp-antiforgery="true"
														  data-ajax-success="Bindgrid"
														  data-ajax="true"
														  data-ajax-method="POST" data-pricing="SubmitJoinTheTeam" class="wpforms-validate wpforms-form wpforms-ajax-form">
														<div class="row pb-4">
															<div class="col-2">
																<input class="boosting-type" type="checkbox" id="wpforms-711-field_1_1" name="wpforms[fields][1][]" value="LOL Boosting"  checked="checked"><label class="wpforms-field-label-inline" for="wpforms-711-field_1_1">LOL Boosting</label>
															</div>
															<div class="col-2">
																<input class="boosting-type" type="checkbox" id="wpforms-711-field_1_2" name="wpforms[fields][1][]" value="Coaching" ><label class="wpforms-field-label-inline" for="wpforms-711-field_1_2">Coaching</label>
															</div>
															<div class="col-2">
																<input class="boosting-type" type="checkbox" id="wpforms-711-field_1_3" name="wpforms[fields][1][]" value="TFT Boosting" ><label class="wpforms-field-label-inline" for="wpforms-711-field_1_3">
																	TFT Boosting
																</label>
															</div>
														</div>
														<div class="row pb-4">
															<div class="col-md-6 pr-3">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="age">Age:<span class="gfield_required">*</span></label>
																	<input class=" large " name="Age" id="age" asp-for="Age" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
															<div class="col-md-6">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Country">Country:<span class="gfield_required">*</span></label>
																	<input class=" large " name="Country" id="Country" asp-for="Country" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
														</div>
														<div class="row pb-4">
															<div class="col-md-6 pr-3">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Language">Language:<span class="gfield_required">*</span></label>
																	<input class=" large " name="Language" id="Language" asp-for="Language" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
															<div class="col-md-6">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Country">Current Rank:<span class="gfield_required">*</span></label>
																	<input class=" large " name="CurrentRank" id="CurrentRank" asp-for="CurrentRank" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
														</div>

														<div class="row pb-4 one-checkbox-minimum" id="boosting-servers-container">
															<label class="pb-3 gfield_label">Server You Can Boost On:<span class="gfield_required">*</span></label>
															<div class="row pb-4">
																<div class="choice-1 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_1" name="wpforms[fields][8][]" required="" value="Europe West" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_1">Europe West</label>
																</div>
																<div class="choice-2 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_2" name="wpforms[fields][8][]" required="" value="Europe Nordic &amp; East" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_2">Europe Nordic &amp; East</label>
																</div>
																<div class="choice-3 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_3" name="wpforms[fields][8][]" required="" value="North America" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_3">North America</label>
																</div>
																<div class="choice-4 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_4" name="wpforms[fields][8][]" required="" value="Oceania" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_4">Oceania</label>
																</div>
																<div class="choice-5 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_5" name="wpforms[fields][8][]" required="" value="Russia" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_5">Russia</label>
																</div>
																<div class="choice-6 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_6" name="wpforms[fields][8][]" required="" value="Turkey" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_6">Turkey</label>
																</div>
																<div class="choice-7 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_7" name="wpforms[fields][8][]" required="" value="Latin America North" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_7">Latin America North</label>
																</div>
																<div class="choice-8 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_8" name="wpforms[fields][8][]" required="" value="Latin America South" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_8">Latin America South</label>
																</div>
																<div class="choice-9 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_9" name="wpforms[fields][8][]" required="" value="Brazil" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_9">Brazil</label>
																</div>
																<div class="choice-10 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_10" name="wpforms[fields][8][]" required="" value="Japan" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_10">Japan</label>
																</div>
																<div class="choice-11 depth-1 col-4">
																	<input type="checkbox" id="wpforms-711-field_8_11" name="wpforms[fields][8][]" required="" value="Korea" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_11">Korea</label>
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="MainLanes">Main Lanes:</label>
																	<input class=" large " name="MainLanes" id="MainLanes" asp-for="MainLanes" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="MainChampions">Main Champion(s):</label>
																	<input class=" large " name="MainChampions" id="MainChampions" asp-for="MainChampions" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="NumberOfHoursAvailable">Number of Hours of Availability Per Day:<span class="gfield_required">*</span></label>
																	<input class=" large " name="NumberOfHoursAvailable" id="NumberOfHoursAvailable" asp-for="NumberOfHoursAvailable" type="text" value="" required="" aria-describedby="gfield_description_10_286" aria-invalid="false">
																</div>
															</div>
														</div>

														<div class="grid pb-4">
															<label class="pb-3 gfield_label" for="NumberOfHoursAvailable">Are You Willing To Duo Boost?<span class="gfield_required">*</span></label>
															<div class="row">
																<div class="choice-1 depth-1 col-1">
																	<input type="radio" id="wpforms-711-field_8_1" name="DuoBoost" required="" asp-for="DuoBoost" value="Yes" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_1" >Yes</label>
																</div>
																<div class="choice-2 depth-1 col-1">
																	<input type="radio" id="wpforms-711-field_8_2" name="DuoBoost" required="" asp-for="DuoBoost" value="No" >
																	<label class="wpforms-field-label-inline" for="wpforms-711-field_8_2">No</label>
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="DiscordName">Your Discord Name (Or Best Way To Contact You):<span class="gfield_required">*</span></label>
																	<input class=" large " name="DiscordName" id="DiscordName" asp-for="DiscordName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Email">Your E-Mail Address:<span class="gfield_required">*</span></label>
																	<input class=" large " name="Email" id="Email" asp-for="Email" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Background">Have You Ever Boosted/Coached Before? (If So, Give Details):</label>
																	<textarea asp-for="Background" id="Background" class="wpforms-field-large" name="Background"></textarea>
																</div>
															</div>
														</div>

														<div class="row pb-4">
															<div class="col-md-12">
																<div class="ginput_container ginput_container_select">
																	<label class="pb-3 gfield_label" for="Email">What Percentage of Boosting Fee Are You Used To/Expecting? (This Won't Affect Our Hiring Decision And Is For Market Research Only):<span class="gfield_required">*</span></label>
																	<input class=" large " name="BoostingFeePrevious" id="BoostingFeePrevious" asp-for="BoostingFeePrevious" type="text" required="" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
																</div>
															</div>
														</div>

														<div class="row pt-4 d-flex justify-content-center">
															<button type="submit" style="background-color: #fd941f !important;" id="submit-contact-form" class="btn btn-primary proceed-checkout-btn">SEND MESSAGE</button>
														</div>

													</form>
												</div>
												<script type="text/javascript" data-eqcss-read="true">jQuery(document).ready(function () { jQuery(document).trigger('gform_post_render', [10, 1]) });</script>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

