@using SpartanBoosting.Models.Adhoc
@model JoinTheTeamModel
@{
	ViewData["Title"] = "JoinTheTeam";
}
<div class="container">
	<div class="nk-gap-1"></div>
	<div class="row d-flex justify-content-center">
		<h6>We are currently only looking for:</h6>
		<div class="col-md-12 d-flex justify-content-center">
			<p>–**– Master+ Boosters/Coaches for NA and OCE–**–</p>
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<p>–**– Grandmaster+ Boosters/Coaches for EUW–**–</p>
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<h6>If you meet the above requirements, please fill out the form below and someone will be in touch within 24 hours.</h6>
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<p style="color: green; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
				@TempData["Result"]
			</p>
		</div>
	</div>
	<a href="https://uk.trustpilot.com/review/spartanboosting.com">
		<span class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
			<a href="https://uk.trustpilot.com/review/spartanboosting.com" target="_blank" rel="noopener">Trustpilot</a>
		</span>
	</a>
	<div class="nk-gap-3"></div>
	<div class="row vertical-gap">
		<div class="col-lg-12">
			<form asp-action="SubmitJoinTheTeam" role="form" asp-controller="Adhoc" asp-antiforgery="true"
				  data-ajax-success="Bindgrid"
				  data-ajax="true"
				  data-ajax-method="POST" data-pricing="SubmitJoinTheTeam" class="">
				<div class="container">
					<div class="row pb-4 pl-15">
						<div class="col-2 custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="wpforms-711-field_1_1" name="wpforms[fields][1][]" value="LOL Boosting" checked="checked"><label class="custom-control-label" for="wpforms-711-field_1_1">LOL Boosting</label>
						</div>
						<div class="col-2 custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="wpforms-711-field_1_2" name="wpforms[fields][1][]" value="Coaching"><label class="custom-control-label" for="wpforms-711-field_1_2">Coaching</label>
						</div>
						<div class="col-2 custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" id="wpforms-711-field_1_3" name="wpforms[fields][1][]" value="TFT Boosting"><label class="custom-control-label" for="wpforms-711-field_1_3">
								TFT Boosting
							</label>
						</div>
					</div>
					<div class="row pb-4">
						<div class="col-md-6 pr-3">
							<div class="">
								<label class="pb-3 " for="age">Age:<span class="gfield_required">*</span></label>
								<input class="form-control " name="Age" id="age" asp-for="Age" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="">
								<label class="pb-3 " for="Country">Country:<span class="gfield_required">*</span></label>
								<input class="form-control " name="Country" id="Country" asp-for="Country" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
					</div>
					<div class="row pb-4">
						<div class="col-md-6 pr-3">
							<div class="">
								<label class="pb-3 " for="Language">Language:<span class="gfield_required">*</span></label>
								<input class="form-control " name="Language" id="Language" asp-for="Language" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="">
								<label class="pb-3 " for="Country">Current Rank:<span class="gfield_required">*</span></label>
								<input class="form-control " name="CurrentRank" id="CurrentRank" asp-for="CurrentRank" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
					</div>

					<div class="row pb-4 one-checkbox-minimum pl-15" id="boosting-servers-container">
						<label class="pb-3 ">Server You Can Boost On:<span class="gfield_required">*</span></label>
						<div class="row pb-4 pl-15">
							<div class="custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_1" name="wpforms[fields][8][]" required="" value="Europe West">
								<label class="custom-control-label" for="wpforms-711-field_8_1">Europe West</label>
							</div>
							<div class="custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_2" name="wpforms[fields][8][]" required="" value="Europe Nordic &amp; East">
								<label class="custom-control-label" for="wpforms-711-field_8_2">Europe Nordic &amp; East</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_3" name="wpforms[fields][8][]" required="" value="North America">
								<label class="custom-control-label" for="wpforms-711-field_8_3">North America</label>
							</div>
							<div class="custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_4" name="wpforms[fields][8][]" required="" value="Oceania">
								<label class="custom-control-label" for="wpforms-711-field_8_4">Oceania</label>
							</div>
							<div class="custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_5" name="wpforms[fields][8][]" required="" value="Russia">
								<label class="custom-control-label" for="wpforms-711-field_8_5">Russia</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_6" name="wpforms[fields][8][]" required="" value="Turkey">
								<label class="custom-control-label" for="wpforms-711-field_8_6">Turkey</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_7" name="wpforms[fields][8][]" required="" value="Latin America North">
								<label class="custom-control-label" for="wpforms-711-field_8_7">Latin America North</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_8" name="wpforms[fields][8][]" required="" value="Latin America South">
								<label class="custom-control-label" for="wpforms-711-field_8_8">Latin America South</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_9" name="wpforms[fields][8][]" required="" value="Brazil">
								<label class="custom-control-label" for="wpforms-711-field_8_9">Brazil</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_10" name="wpforms[fields][8][]" required="" value="Japan">
								<label class="custom-control-label" for="wpforms-711-field_8_10">Japan</label>
							</div>
							<div class=" custom-control custom-checkbox col-4">
								<input type="checkbox" class="custom-control-input" id="wpforms-711-field_8_11" name="wpforms[fields][8][]" required="" value="Korea">
								<label class="custom-control-label" for="wpforms-711-field_8_11">Korea</label>
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="MainLanes">Main Lanes:</label>
								<input class="form-control " name="MainLanes" id="MainLanes" asp-for="MainLanes" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="MainChampions">Main Champion(s):</label>
								<input class="form-control " name="MainChampions" id="MainChampions" asp-for="MainChampions" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="NumberOfHoursAvailable">Number of Hours of Availability Per Day:<span class="gfield_required">*</span></label>
								<input class="form-control " name="NumberOfHoursAvailable" id="NumberOfHoursAvailable" asp-for="NumberOfHoursAvailable" type="text" value="" required="" aria-describedby="gfield_description_10_286" aria-invalid="false">
							</div>
						</div>
					</div>

					<div class="grid pb-4">
						<label class="pb-3 " for="NumberOfHoursAvailable">Are You Willing To Duo Boost?<span class="gfield_required">*</span></label>
						<div class="row pl-15">
							<div class="choice-1 custom-control  col-1">
								<input type="radio" class="" id="wpforms-711-field_8_1" name="DuoBoost" required="" asp-for="DuoBoost" value="Yes">
								<label class="" for="wpforms-711-field_8_1">Yes</label>
							</div>
							<div class="choice-2 custom-control  col-1">
								<input type="radio" class="" id="wpforms-711-field_8_2" name="DuoBoost" required="" asp-for="DuoBoost" value="No">
								<label class="" for="wpforms-711-field_8_2">No</label>
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="DiscordName">Your Discord Name (Or Best Way To Contact You):<span class="gfield_required">*</span></label>
								<input class="form-control " name="DiscordName" id="DiscordName" asp-for="DiscordName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="Email">Your E-Mail Address:<span class="gfield_required">*</span></label>
								<input class="form-control " name="Email" id="Email" asp-for="Email" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="Background">Have You Ever Boosted/Coached Before? (If So, Give Details):</label>
								<textarea asp-for="Background" id="Background" class="form-control" name="Background"></textarea>
							</div>
						</div>
					</div>

					<div class="row pb-4">
						<div class="col-md-12">
							<div class="">
								<label class="pb-3 " for="Email">What Percentage of Boosting Fee Are You Used To/Expecting? (This Won't Affect Our Hiring Decision And Is For Market Research Only):<span class="gfield_required">*</span></label>
								<input class="form-control " name="BoostingFeePrevious" id="BoostingFeePrevious" asp-for="BoostingFeePrevious" type="text" required="" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
							</div>
						</div>
					</div>
					<div class="nk-gap-3"></div>
					<div class="row pt-4 d-flex justify-content-center">
						<button type="submit" id="submit-contact-form" class="btn btn-primary proceed-checkout-btn">SEND MESSAGE</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="nk-gap-4"></div>
	<div class="nk-gap-3"></div>
</div>
